<template name="Features">
  <div class="block block-bordered-lg">
    <div class="container">
      <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center m-b-lg">
        <h1 class="block-title c-cream m-b-0">{{_ "features.title"}}</h1>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <ul class="featured-list no-icon">
            <li class="m-b-lg">
              <h2 class="block-subtitle c-turquoise">{{_ "features.feature1"}}</h2>
              <p class="featured-list-icon-text">
                {{_ "features.feature1Lead"}}
              </p>
            </li>

            <li class="m-b-lg">
              <h2 class="block-subtitle c-turquoise">{{_ "features.feature2"}}</h2>
              <p class="featured-list-icon-text">
                {{_ "features.feature2Lead"}}
              </p>
            </li>

          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="featured-list no-icon">

            <li class="m-b-lg">
              <h2 class="block-subtitle c-turquoise">{{_ "features.feature3"}}</h2>
              <p class="featured-list-icon-text">
                {{_ "features.feature3Lead"}}
              </p>
            </li>

            <li class="m-b-lg">
              <h2 class="block-subtitle c-turquoise">{{_ "features.feature4"}}</h2>
              <p class="featured-list-icon-text">
                {{_ "features.feature4Lead"}}
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-lg btn-success btn-book-now">{{_ "general.bookNow"}}</button>
      </div>
    </div>
  </div>
</template>
