<template name="Features">
  <div class="block bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center m-b-lg">
          <h1 class="block-title c-light-black m-b-0">{{_ "landing.features.title"}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <ul class="featured-list featured-list-bordered">
            <li class="m-b-md">
              <div class="featured-list-icon">
                <i class="fa fa-desktop" aria-hidden="true"></i>
              </div>
              <h2 class="block-subtitle c-turquoise text-xs-center text-sm-left">{{_ "landing.features.feature1"}}</h2>
              <p class="featured-list-icon-text">{{_ "landing.features.feature1Lead"}}</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="featured-list featured-list-bordered">
            <li class="m-b-md">
              <div class="featured-list-icon">
                <i class="fa fa-suitcase" aria-hidden="true"></i>
              </div>
              <h2 class="block-subtitle c-turquoise text-xs-center text-sm-left">{{_ "landing.features.feature2"}}</h2>
              <p class="featured-list-icon-text">{{_ "landing.features.feature2Lead"}}</p>
            </li>
          </ul>
        </div>
        <clearfix class="hidden-xs"></clearfix>
        <div class="col-sm-6">
          <ul class="featured-list featured-list-bordered">
            <li class="m-b-md">
              <div class="featured-list-icon">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </div>
              <h2 class="block-subtitle c-turquoise text-xs-center text-sm-left">{{_ "landing.features.feature3"}}</h2>
              <p class="featured-list-icon-text">{{_ "landing.features.feature3Lead"}}</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="featured-list featured-list-bordered">
            <li class="m-b-md">
              <div class="featured-list-icon">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </div>
              <h2 class="block-subtitle c-turquoise text-xs-center text-sm-left">{{_ "landing.features.feature4"}}</h2>
              <p class="featured-list-icon-text">{{_ "landing.features.feature4Lead"}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center m-t-md">
        <a href="{{pathFor 'book'}}" class="btn btn-lg btn-success btn-book-now scroll-top">{{_ "general.bookNow"}}</a>
      </div>
    </div>
  </div>
</template>
