<template name="Footer">
  <div class="block app-block-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 m-b">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Navegación</h6></li>
            {{> HeaderLandingLinks}}
          </ul>
        </div>
        <div class="col-sm-2 m-b">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Redes Sociales</h6></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Instagram</a></li>
          </ul>
        </div>
        <div class="col-sm-2 m-b">
          <ul class="list-unstyled list-spaced">
            <li><h6 class="text-uppercase">Soporte</h6></li>
            <li><a href="">Contacto</a></li>
            <li><a href="{{pathFor 'terms'}}" class="scroll-top">Términos y condiciones</a></li>
            <li><a href="{{pathFor 'privacy'}}" class="scroll-top">Aviso de Privacidad</a></li>
          </ul>
        </div>
         <div class="col-sm-6">
          <h6 class="text-uppercase">Nosotros</h6>
          <p class="c-white">Shoutout to Invision team for creating the <a href="http://www.invisionapp.com/do">Do UI kit</a> that we used to fake our app screenshots. Also to the Dribbble community for providing phone mockups that look amazing.</p>
        </div>
      </div>
    </div>
  </div>
</template>
