<template name="Hero">
  {{reloadSelect}}
  <div class="hero-bg parallax-section" data-parallax-image="/img/drenaje1.jpg">
    <div class="hero-cont">
      <div class="hero-text">
        <h1 class="title">{{_ "landing.hero.title"}}</h1>
        <br>
        <br>
        <div class="form-cont">
          <div class="container">
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-3">
                  <button class="submit-landing" onclick="return gtag_click_reservar('https://www.kassna.com/reserva');">
                    {{_ "general.book"}}
                </button>
              </div>
              <br class="visible-xs-block">
              <div class="col-sm-3">
                <button class="submit-moreinfo" onclick="return gtag_Wapp_MoreInfo_Hero('https://wa.me/5218110601776?text=Hola,%20¿Me%20pudieran%20compartir%20más%20información%20de%20*Kassna,%20Masajes%20a%20domicilio*?') ;" href="https://wa.me/5218110601776?text=Hola,%20¿Me%20pudieran%20compartir%20más%20información%20de%20Kassna,%20Masajes%20a%20domicilio?">
                  {{_ "general.moreinfo"}}
              </button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <p class="lead m-t">{{_ "landing.hero.lead2"}} <a class="phone" onclick="return gtag_hero_wapp('https://api.whatsapp.com/send?phone=5218110601776') ;" href="https://api.whatsapp.com/send?phone=5218110601776"><b> {{_ "landing.hero.lead4"}}</b></a></p>

      </div>
    </div>
  </div>

</template>
