<template name="Hero">
  <div class="hero-bg parallax-section" data-parallax-image="/img/drenaje1.jpg">
    <div class="hero-cont">
      <div class="hero-text">
        <h1 class="title">{{_ "landing.hero.title"}}</h1>
        <p class="lead">{{_ "landing.hero.lead"}}</p>
        <div class="form-cont">
          <div class="row">
            <div class="col-sm-5">
              {{> SelectBook attribute="locationId" elements=locations placeholder="book.locationId"}}
            </div>
            <div class="col-sm-5 hidden-xs">
              <div class="input-with-icon dashhead-toolbar-item">
      					<div class="form-group select-date">
                  <div class='input-group date'>
                    <input type='text' class="form-control" name="date" data-input placeholder="Fecha y hora">
                    <span class="input-group-addon" data-toggle>
                      <span class="icon icon-calendar"></span>
                    </span>
                  </div>
                </div>
      			  </div>
            </div>
            <br class="visible-xs-block">
            <div class="col-sm-2">
              <button class="submit-landing">
                {{_ "general.book"}}
              </button>
            </div>
          </div>
        </div>
        <p class="lead m-t">{{_ "landing.hero.lead1"}}</p>
        <p class="lead">{{_ "landing.hero.lead2"}}</p>
    	</div>
  	</div>
  </div>

</template>
