<template name="Home">
	
	<script type="text/javascript">
		<!--
		function FP_popUpMsg(msg) {//v1.0
		 alert(msg);
		}
		// -->
		</script>
		</head>
		
		<body style="background-color: #009999" onload="FP_popUpMsg('test message')">
	
	{{> Hero}}
	{{> Prices}}
	{{> Steps}}
	{{> Features}}
	{{> Testimonies}}
	{{> Image}}
	<a href="{{pathFor 'therapist-form'}}" class="btn btn-full cream scroll-top">
		<p class="lead">{{_ "landing.therapistButton.lead"}}</p>
		<h1 class="m-b-0">{{_ "landing.therapistButton.action"}}</h1>
	</a>
	{{> ContactUs}}
	{{> Footer}}
</template>
