<template name="HowWorks">
  <div class="block block-bordered-lg how-works">
    <div class="container text-center">
      <h1 class="block-title c-green">¿Cómo funciona nuestro servicio?</h1>
      <div class="row">
        <div class="col-sm-4">
          <span class="item-icon ion-calendar c-cream"></span>
          <h3 class="icon-title c-gray">Reserva por internet</h3>
        </div>
        <div class="col-sm-4">
          <span class="item-icon ion-home c-cream"></span>
          <h3 class="icon-title c-gray">Un terapeuta profesional va a donde te encuentres</h3>
        </div>
        <div class="col-sm-4">
          <span class="item-icon ion-happy c-cream"></span>
          <h3 class="icon-title c-gray">Relájate y disfruta tu masaje</h3>
        </div>
      </div>
    </div>
  </div>
</template>
