<template name="OurTherapist">
    <div class="block bg-light-gray">
      <div class="container text-center">
        <div class="row m-b-lg-xs">
          <div class="col-xs-12 text-center m-b-lg">
            <h1 class="block-title c-green m-b-0">{{_ "landing.OurTherapist.title"}}</h1>


        <div id="carousel-example-generic-3" class="carousel carousel-light slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic-3" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic-3" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic-3" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic-3" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic-3" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic-3" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="block block-lg  bg-light-gray mb">
                  <div class="container text-center app-translate-15" data-transition="entrance">
                    <p><img src="/img/Tera1.jpg" class="img-circle"></p>
                    <p><h2 class="c-blue"><b>{{_ "landing.OurTherapist.name1"}}</b></h2></p>
                    <p><h4 class="c-green">{{_ "landing.OurTherapist.job1"}}</h4></p>
                    <p>{{_ "landing.OurTherapist.school1"}}</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="block block-lg bg-light-gray mb">
                  <div class="container text-center app-translate-15" data-transition="entrance">
                    <p><img src="/img/Tera2.jpg" class="img-circle"></p>    
                    <p><h2 class="c-blue"><b>{{_ "landing.OurTherapist.name2"}}</b></h2></p>
                    <p><h4 class="c-green">{{_ "landing.OurTherapist.job2"}}</h4></p>
                    <p>{{_ "landing.OurTherapist.school2"}}</p>
                  </div>  
                </div>
              </div>
              <div class="item">
                  <div class="block block-lg bg-light-gray">
                    <div class="container text-center app-translate-15" data-transition="entrance">
                      <p><img src="/img/Tera3.jpg" class="img-circle"></p>
                      <p><h2 class="c-blue"><b>{{_ "landing.OurTherapist.name3"}}</b></h2></p>
                      <p><h4 class="c-green">{{_ "landing.OurTherapist.job3"}}</h4></p>
                      <p>{{_ "landing.OurTherapist.school3"}}</p>
                    </div>
                  </div>
                </div>
                <div class="item">
                    <div class="block block-lg bg-light-gray">
                      <div class="container text-center app-translate-15" data-transition="entrance">
                        <p><img src="/img/Tera4.png" class="img-circle"></p>
                        <p><h2 class="c-blue"><b>{{_ "landing.OurTherapist.name4"}}</b></h2></p>
                        <p><h4 class="c-green">{{_ "landing.OurTherapist.job4"}}</h4></p>
                        <p>{{_ "landing.OurTherapist.school4"}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                      <div class="block block-lg bg-light-gray">
                        <div class="container text-center app-translate-15" data-transition="entrance">
                          <p><img src="/img/Tera5.jpg" class="img-circle"></p>
                          <p><h2 class="c-blue"><b>{{_ "landing.OurTherapist.name5"}}</b></h2></p>
                          <p><h4 class="c-green">{{_ "landing.OurTherapist.job5"}}</h4></p>
                          <p>{{_ "landing.OurTherapist.school5"}}</p>
                        </div>
                      </div>
                    </div>
              <div class="item">
                  <div class="block block-lg bg-light-gray">
                    <div class="container text-center app-translate-15" data-transition="entrance">
                      <p><img src="/img/Tera6.jpg" class="img-circle"></p>
                      <p><h2 class="c-blue"><b>{{_ "landing.OurTherapist.name6"}}</b></h2></p>
                      <p><h4 class="c-green">{{_ "landing.OurTherapist.job6"}}</h4></p>
                      <p>{{_ "landing.OurTherapist.school6"}}</p>
                    </div>
                  </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic-3" role="button" data-slide="prev">
              <span class="icon icon-chevron-thin-left" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic-3" role="button" data-slide="next">
              <span class="icon icon-chevron-thin-right" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
</template>
