<template name="Steps">
  <div class="block block-bordered-lg how-works" id="comoFunciona">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-3 item" data-item="1">
          <h2 class="block-subtitle c-turquoise">{{_ "landing.steps.step1"}}</h2>
          <img src="/img/1agenda.png" class="item-icon">
          <p class="lead m-b-0-sm">{{_ "landing.steps.step1Lead"}}</p>
        </div>
        <div class="col-sm-3 item" data-item="2">
          <h2 class="block-subtitle c-turquoise">{{_ "landing.steps.step2"}}</h2>
          <img src="/img/2recibe.png" class="item-icon">
          <p class="lead m-b-0-sm">{{_ "landing.steps.step2Lead"}}</p>
        </div>
        <div class="col-sm-3 item" data-item="3">
          <h2 class="block-subtitle c-turquoise">{{_ "landing.steps.step3"}}</h2>
          <img src="/img/3relajate.png" class="item-icon">
          <p class="lead m-b-0-sm m-b-0-xs">{{_ "landing.steps.step3Lead"}}</p>
        </div>
        <div class="col-sm-3 item" data-item="4">
          <h2 class="block-subtitle c-turquoise">{{_ "landing.steps.step4"}}</h2>
          <img src="/img/4comparte.png" class="item-icon">
          <p class="lead m-b-0-sm m-b-0-xs">{{_ "landing.steps.step4Lead"}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
