<template name="Steps">
  <div class="block block-bordered-lg how-works">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="block-subtitle c-turquoise">{{_ "steps.step1"}}</h2>
          <span class="item-icon ion-calendar c-cream"></span>
          <p class="lead">{{_ "steps.step1Lead"}}</p>
        </div>
        <div class="col-sm-4">
          <h2 class="block-subtitle c-turquoise">{{_ "steps.step2"}}</h2>
          <span class="item-icon ion-home c-cream"></span>
          <p class="lead">{{_ "steps.step2Lead"}}</p>
        </div>
        <div class="col-sm-4">
          <h2 class="block-subtitle c-turquoise">{{_ "steps.step3"}}</h2>
          <span class="item-icon ion-happy c-cream"></span>
          <p class="lead m-b-0-xs">{{_ "steps.step3Lead"}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
