<template name="Terms">
    <div class="margin-section m-b-lg">
        <div class="container">
            <h1 class="block-title text-center c-yellow">{{_ "landing.terms.title"}}</h1>
            <hr class="m-b-md m-t-md">
            <div class="">
                <h3 class="c-turquoise">1. Relación contractual</h3>
                <p>
                    Los presentes Términos y Condiciones de uso (“Condiciones”) regulan el acceso o use que usted haga, como persona de aplicaciones,
                    páginas web, contenido, productos y servicios (los “Servicios”) puestos a disposición por Kassna Technologies
                    SAPI de CV, una sociedad promotora de inversión constituida en Monterrey, México. <br><br>Mediante
                    su acceso y uso de los Servicios usted acuerda vincularse jurídicamente por estas Condiciones, que establecen
                    una relación contractual entre usted y Kassna. Si usted no acepta estas Condiciones, no podrá acceder
                    o usar los Servicios. Estas Condiciones sustituyen expresamente los acuerdos o compromisos previos con
                    usted. Kassna podrá poner fin de inmediato a estas condiciones o cualquiera de los Servicios respecto
                    de usted o, en general, dejar de ofrecer o denegar el acceso a los Servicios o cualquier parte de ellos,
                    en cualquier momento y por cualquier motivo. <br><br>Se podrán aplicar condiciones suplementarias a determinados
                    Servicios, como políticas para un evento, una actividad o una promoción particular, y dichas condiciones
                    suplementarias se le comunicarán en relación con los Servicios aplicables. Las condiciones suplementarias
                    se establecen además de las Condiciones, y se considerarán una parte de estas, para los fines de los
                    Servicios aplicables. Las condiciones suplementarias prevalecerán sobre las Condiciones en el caso de
                    conflicto con respecto a los Servicios aplicables. <br><br>Kassna podrá modificar las Condiciones relativas
                    a los Servicios cuando lo considere oportuno. Las modificaciones serán efectivas después de la publicación
                    por parte de Kassna de dichas Condiciones actualizadas en esta ubicación o las políticas modificadas
                    o condiciones suplementarias sobre el Servicio aplicable. Su acceso o uso continuado de los Servicios
                    después de dicha publicación constituye su consentimiento a vincularse por las Condiciones y sus modificaciones.
                    La recopilación y el uso que hacemos de la información personal en relación con los Servicios es conforme
                    se dispone en la Política de privacidad de Kassna, disponible en http://www.kassna.com/privacidad.
                    Kassna podrá facilitar a un procesador de reclamaciones o a una aseguradora cualquier información necesaria
                    (incluida su información de contacto) si hubiera quejas, disputas o conflictos, que pudieran incluir
                    un accidente, implicándole a usted y a un tercero y dicha información o dichos datos fueran necesarios
                    para resolver la queja, la disputa o el conflicto.
                </p>
                <h3 class="c-turquoise">2. Descripción, participación, creación de cuenta, elegibilidad, referencias y promociones del servicio</h3>
                <p>
                    Kassna proporciona una plataforma en línea que conecta profesionales de salud y bienestar (“Terapeuta”) con individuos (“Usuarios
                    individuales”) o negocios (“Usuarios corporativos”) que desean contratar y/o recibir masoterapia, en
                    delante referidos como (“Usuarios”). Como usuario del Servicio (incluyendo Terapeutas y Usuarios), aceptas
                    proveernos con información completa y real (si se solicita) y a actualizar dicha información para mantenerla
                    al certera, actual y completa. Aceptas que toda la información que nos proveas será tratada de acuerdo
                    a la Política de Privacidad de Kassna, disponible en http://www.kassna.com/privacidad. ENTIENDES Y
                    ACEPTAS QUE KASSNA NO TIENE CONTROL SOBRE LA CONDUCTA DE LOS TERAPEUTAS NI DE LOS USUARIOS. <br><br><b>Creación
                    de cuenta</b>. Para disponer de algunas características de la página web y de la aplicación y para usar algunos
                    Servicios, puede ser necesario el registro y creación de una cuenta (“Cuenta”). Con respecto a crear
                    una cuenta con Kassna, podemos entregarte una identificación de usuario y/o contraseña. Para cualquier
                    uso futuro, se te puede requerir ingresar tu identificación de usuario y/o contraseña. Aceptas ser responsable
                    de toda la actividad que ocurra bajo tu Cuenta y aceptas ser responsable de mantener la seguridad de
                    tu identificación de usuario y contraseña. Aceptas notificar inmediatamente a Kassna de cualquier uso
                    no autorizado de tu Cuenta o de cualquier otra violación de seguridad. Puedes borrar tu Cuenta en cualquier
                    momento, por cualquier motivo, enviando un correo a cuentas@kassna.com. <br><br><b>Elegibilidad.</b> Queda prohibido
                    el uso del Servicio para personas menores a 13 años de edad. El uso del Servicio por personas menores
                    solo se puede realizar bajo la autorización de uno de sus padres o guardianes. Si eres menor de edad
                    al momento de contratar el servicio, representas y aseguras que has obtenido la aceptación de tus padres
                    o guardianes legales de estas Condiciones. <br><br><b>Bono por referencias.</b> Ofrecemos bono por referir nuevos usuarios.
                    Para calificar para el bono de referencia, debes referir a un nuevo usuario a abrir una Cuenta con Kassna
                    y hacer una reservación dentro de los siguientes 30 (treinta) días después de abierta. Nótese que el
                    bono de referencia es dado con el objetivo de atraer nuevos clientes a Kassna, por lo que el otorgamiento
                    puede ser negado en caso de detectar cualquier anomalía en la referencia. Solo puedes ganar un bono de
                    referencia por usuario nuevo referido. <br><br><b>Códigos promocionales.</b> Podemos, bajo nuestra discreción, crear
                    códigos promocionales que pueden ser cambiados por saldo o descuentos en tu Cuenta, u otros beneficios
                    relacionados con el Servicio condicionados a cualquier término o condición adicional establecidos en
                    cada promoción. Los códigos promocionales solo pueden ser utilizados una vez por persona y/o Cuenta.
                    Solo códigos promocionales enviados por medios oficiales de Kassna serán válidos. <br><br><b>Reservación de derechos.</b>
                    Nos reservamos el derecho a detener o deducir el saldo u otros beneficios obtenidos por medio de códigos
                    promocionales por ti o por cualquier otro usuario en el caso de que determinemos o tengamos sospecha
                    que el uso del código promocional o el uso del bono por referencia fuera un error, fraudulento, ilegal,
                    o en violación a los términos del código promocional o a las Condiciones de este acuerdo.

                </p>
                <h3 class="c-turquoise">3. Uso aceptable</h3>
                <p>
                    Tú eres responsable por tu uso de los Servicios, y por cualquier uso de los Servicios a través de tu Cuenta. Nuestro objetivo
                    es crear una experiencia positiva en conexión con nuestros Servicios. Para promover este objetivo, prohibimos
                    ciertas conductas que pueden ser dañinas a otros usuarios o a Kassna. <br><br>Si eres un Terapeuta o Usuario,
                    aceptas no intentar contactarse directamente sobre los Servicios fuera de los Servicios por un periodo
                    de 6 meses después de la última fecha de uso de cualquiera de los Servicios, a excepción de los casos
                    en los que permitan estas Condiciones o Kassna, o de otra manera renunciar a tu relación con Kassna.
                    <br><br>Cuando usas los Servicios, aceptas que no: <br><br>a) violaras estas Condiciones o cualquier otra regla de Kassna
                    con respecto a los Servicios; <br><br>b) violaras ninguna ley o reglamento; <br><br>c) violaras cualquier acuerdo al
                    que entraste con terceros; <br><br>d) violar, infringir, o malversar la propiedad intelectual, privacidad, publicidad,
                    u otros derechos legales de otras personas; <br><br>e) participar en comportamiento que es abusivo, acosador,
                    indecente, profano, obsceno, odioso o de otra manera objetable, incluyendo mala conducta sexual; <br><br>f) estar
                    bajo las influencias del alcohol o de sustancias ilícitas al momento de recibir los Servicios; <br><br>g) acechar,
                    acosar, o lastimar a otro individuo; <br><br>h) con el propósito de engañar a otros, crear una identidad falsa
                    del destinatario o del origen de un mensaje, falsificar títulos o de otra manera manipular identificadores
                    en orden de disfrazar el origen de cualquier material transmitido por medio de los Servicios o en conexión
                    a Kassna; <br><br>i) Personificar cualquier persona o entidad o realizar cualquier otra actividad fraudulenta;
                    <br><br>j) cosechar o de otra manera juntar o almacenar cualquier información sobre otros usuarios de los Servicios,
                    incluyendo dirección de correo electrónico, sin el consentimiento expreso de dicho Usuario o cambiar
                    la información transmitida; <br><br>k) recopilar, distribuir o juntar información personal o agregada, incluyendo
                    Internet, correo electrónico u otra dirección electrónica, sobre clientes de Kassna u otros usuarios;
                    <br><br>l) publicitar, anunciar, enviar correo o de otra manera transmitir cualquier material que constituya
                    publicidad, materiales promocionales, “correo basura”, “spam”, “cadenas”, “esquemas piramidales”, o cualquier
                    otra forma de solicitación o mensaje comercial no solicitado o no autorizado; <br><br>m) abogar, alentar, o asistir
                    a cualquier tercero en hacer cualquiera de los anteriores.

                </p>
                <h3 class="c-turquoise">4. Licencia de aplicación móvil</h3>
                <p>
                    Sujeto en todo momento a este Acuerdo, si elijes descargar la aplicación, lo siguiente también aplica: Kassna te otorga
                    una licencia para descargar, instalar y usar una copia de la aplicación en un solo dispositivo móvil
                    o computadora que sea de tu propiedad o que controles únicamente para tu uso personal o profesional bajo
                    la base que la licencia es: <br><br>a) revocable – tenemos el derecho a remover tu habilidad de usar la aplicación
                    de acuerdo a estas Condiciones; <br><br>b) no exclusiva – otras personas puedes entrar y usar la aplicación;
                    <br><br>c) no transferible – no puedes pasar estos derechos a otra persona o subarrendar la licencia; y <br><br>d) limitada
                    – la licencia no va más allá de lo que ha sido descrito arriba. <br><br>Además, con respecto a cualquier aplicación
                    adquirida o descargada de una App Store tal como Google Play o la Apple App Store, solo usaras la aplicación
                    adquirida por medio de una App Store: (1) en un producto que corre el sistema operativo por el que fue
                    intencionado y (2) tal como se permita por las “Reglas de Uso” establecidas por dicha App Store.

                </p>
                <h3 class="c-turquoise">5. Pagos, Cancelaciones y Reprogramaciones</h3>
                <p>
                    <b>Precios y comisiones.</b> Podemos cobrar comisiones en relación a tu uso de los Servicios. El precio del producto o servicio
                    será el precio indicado en la página de orden al momento de colocar la orden. Nos esforzamos para asegurar
                    que el precio publicitado sea el correcto. Adicionalmente, como Usuario, puedes elegir dar una propina
                    a tu Terapeuta. Aceptas que Kassna no determina ni exige ninguna cantidad para la propina y aceptas
                    pagar la cantidad autorizada como propina a tu Terapeuta. <br><br>Aceptas pagar todos los cargos incurridos por
                    ti o por cualquier persona que use tu Cuenta o tu tarjeta de pago (o cualquier otro mecanismo de pago
                    aplicable) en las cantidades realizadas cuando son incurridos dichos cargos. Usuarios deben proveer a
                    Kassna con una tarjeta de crédito o débito valida (Visa, MasterCard, o cualquier otro proveedor autorizado)
                    o cualquier otro mecanismo de pago especificado por Kassna (“Proveedor de Pago”) como una condición
                    para hacer cualquier pago. Los Terapeutas deben contar con alguna cuenta del Proveedor de Pago y proveer
                    a Kassna con la información de una cuenta bancaria valida como condición para recibir cualquier pago.
                    El acuerdo con el Proveedor de Pagos del Usuario aplica sobre su uso del mecanismo seleccionado, y el
                    Usuario debe referirse a dicho acuerdo y no a este Acuerdo para determinar los derechos y responsabilidades.
                    Al proveer a Kassna con tu información de pago, aceptas que Kassna cualquiera de tus procesadores de
                    pagos terceros están autorizados a realizar cargos de manera inmediata a tu cuenta de débito o crédito
                    para todas las cuotas aplicables y cargos y que no se requiere notificaciones ni consentimientos adicionales.
                    Aceptas notificar inmediatamente a Kassna de cualquier cambio en tu información financiera y de pago.
                    Kassna se reserva el derecho de cambiar en cualquier momento sus precios y métodos de cobranza. Toda
                    la información que nos proveas a nosotros o a nuestros procesadores de pagos terceros debe ser acertada,
                    actualizada y completa. También serás responsable de pagar cualquier impuesto aplicable relacionado al
                    pago que haces o que recibes. <br><br><b>Para Terapeutas.</b> Por la presenta cada Terapeuta asigna a Kassna como el
                    agente cobrador de pagos con el solo propósito de aceptar pagos aplicables de Usuarios. Cada Terapeuta
                    acepta que pagos hechos por Usuarios a través de Kassna se consideran como pagos hechos directamente
                    a los Terapeutas, y el Terapeuta ofrecerá su servicio al Usuario en lo acordado como si el Terapeuta
                    hubiera recibido el pago. Kassna se reserva el derecho de cobrar una comisión de las cuotas pagadas
                    por los Usuarios al Terapeuta por los servicios del Terapeuta (“Comisión Kassna”). Cada Terapeuta entiende
                    que Kassna acepta pagos de los Usuarios como agente cobrador de pagos y que la obligación de Kassna
                    de pagar al Terapeuta esta condicionada a recibir correctamente el pago asociado de los Usuarios. Kassna
                    no garantiza pagos a Terapeutas por cantidades que no han sido correctamente recibidas por Kassna de
                    los Usuarios. Cada Usuario reconoce y acepta que Kassna se reserva el derecho, bajo su discreción, de
                    hacer cargos a Usuarios para recoger cuotas de los Usuarios. En el caso de que un Usuario elija dar una
                    propina al Terapeuta por los servicios dados, se le cargara al Usuario dicha propina de acuerdo a la
                    cantidad especificada. Las propinas no están sometidas a ninguna comisión por parte de Kassna. Kassna
                    se reserva los derechos a su propia discreción de cancelar o reembolsar cualquier pago, aun cuando haya
                    sido previamente confirmado por Kassna, como resultado de cualquier equivocación o error, incluyendo
                    cualquier equivocación de precio, descripción de servicio u otro error. <br><br>Cancelaciones y reprogramaciones.
                    Si eres un Terapeuta o Usuario, aceptas la política de cancelación y reprogramación de Kassna y los
                    cargos y pagos asociados, cuyos términos se encuentras ubicados en http://www.kassna.com/cancelacion
                    y están incorporados en delante por referencia.

                </p>
                <h3 class="c-turquoise">6. Para Usuarios</h3>
                <p>
                    Kassna no hace ninguna representación, condición o garantía, expresa o implícita, incluyendo sin limitaciones, garantías
                    de comercialización, satisfacción, calidad, adecuación para un propósito particular, titulo, compatibilidad,
                    seguridad, certeza, o utilidad con respecto a los Servicios. Aceptas que cualquier reclamo o causa de
                    tomar acciones por cualquier acción o inacción de cualquier Terapeuta o Usuario, será exclusivamente
                    entre el Terapeuta o Usuario (según aplique) y tú y no Kassna. Los servicios son proporcionados “tal
                    cual”. Aceptas usar los Servicios exclusivamente bajo tu propio riesgo. Aceptas asumir todas las responsabilidades
                    y riesgos de pérdidas resultantes por tu uso de los Servicios. Aunque tenemos la intención de tomar las
                    medidas razonables para prevenir cualquier daño a ti, no somos responsables por cualquier daño o perjuicios
                    resultantes. Tu entiendes y reconoces que Kassna solo proporciona una plataforma para comunicar Terapeutas
                    y Usuarios, y como tal Kassna renuncia a cualquier responsabilidad relacionada con tu interacción con
                    cualquier Terapeuta u otros Usuarios. Cualquier representación o sugerencia hecha por cualquier Terapeuta
                    esta hecha únicamente a la discreción del Terapeuta y Kassna no tiene manera de monitorear y validar,
                    y no será responsable de ninguna manera, de cualquier recomendación o declaración hecha por un Terapeuta.
                    Entiendes y reconoces que Kassna no será de ninguna manera responsable contigo por cualquier declaración
                    o recomendación hecha por cualquier Terapeuta como resultado de tu uso de los Servicios. Aceptas que
                    este sitio no fue desarrollado para atender tus necesidades individuales, y por lo tanto es tu responsabilidad
                    asegurar que las instalaciones y funciones del sitio cumplan con tus requerimientos. <br><br><b>NO SOMOS RESPONSABLES
                    DE PERDIDAS COMERCIALES.</b> Aceptas que hacemos disponible los Servicios para tu uso doméstico y privado.
                    Si de alguna manera usas los Servicios por cualquier motivo comercial, de negocio o de reventa no tendremos
                    ninguna responsabilidad por cualquier pérdida de ganancias, perdida de negocio, interrupción de negocio,
                    o pérdida de oportunidades comerciales. <br><br><b>NO SOMOS RESPONSABLES DE DAÑOS CAUSADOS POR USO NO AUTORIZADO
                    DE CUENTAS.</b> Aceptas que no somos responsables de cualquier perdida o daño incurrido como resultado de
                    uso no autorizado de tu Cuanta que no este dentro de nuestro control razonable.

                </p>
                <h3 class="c-turquoise">7. Para Terapeutas y Usuarios Corporativos</h3>
                <p>
                    Kassna no hace ninguna representación, condición o garantía, expresa o implícita, incluyendo sin limitaciones, garantías
                    de comercialización, satisfacción, calidad, adecuación para un propósito particular, titulo, compatibilidad,
                    seguridad, certeza, o utilidad con respecto a los Servicios. Aceptas que cualquier reclamo o causa de
                    tomar acciones por cualquier acción o inacción de cualquier Terapeuta o Usuario, será exclusivamente
                    entre el Terapeuta o Usuario (según aplique) y tú y no Kassna. Los servicios son proporcionados “tal
                    cual”. Aceptas usar los Servicios exclusivamente bajo tu propio riesgo. Aceptas asumir todas las responsabilidades
                    y riesgos de pérdidas resultantes por tu uso de los Servicios. Aunque tenemos la intención de tomar las
                    medidas razonables para prevenir cualquier daño a ti, no somos responsables por cualquier daño o perjuicios
                    resultantes. Tu entiendes y reconoces que Kassna solo proporciona una plataforma para comunicar Terapeutas
                    y Usuarios, y como tal Kassna renuncia a cualquier responsabilidad relacionada con tu interacción con
                    cualquier Terapeuta u otros Usuarios. Cualquier representación o sugerencia hecha por cualquier Terapeuta
                    esta hecha únicamente a la discreción del Terapeuta y Kassna no tiene manera de monitorear y validar,
                    y no será responsable de ninguna manera, de cualquier recomendación o declaración hecha por un Terapeuta.
                    Entiendes y reconoces que Kassna no será de ninguna manera responsable contigo por cualquier declaración
                    o recomendación hecha por cualquier Terapeuta como resultado de tu uso de los Servicios. <br><br><b>INDAMNIZACIONES.</b>
                    Aceptas indemnizar y mantener sin daño a Kassna, sus afiliados, agentes, contratistas, y sus oficiales
                    respectivos, directores, accionistas, empleados, representantes, de cualquier y toda responsabilidad,
                    reclamo, gasto y daño, incluyendo costos legales, derivados de tu violación a estos Acuerdos.

                </p>
                <h3 class="c-turquoise">8. Para temas médicos</h3>
                <p>
                    El contenido y la información disponible por medio de los Servicios, incluyendo materiales (“Contenido”) son únicamente para
                    uso informativo. Nada del Contenido debe ser considerado como asesoramiento médico profesional o como
                    consulta médica. El Contenido no esta hecho con la intención de sustituir asesoramiento médico profesional,
                    consulta médica, diagnostico, o tratamiento. Al usar el servicio aceptas que no dependerás del Servicio
                    como un sustituto para buscar asesoría médica profesional y que siempre buscaras la ayuda de un médico
                    u otro proveedor médico calificado con cualquier duda que puedas tener respecto a temas médicos. Bajo
                    ninguna circunstancia se generará una relación paciente-médico al usar el Servicio. <br><br>Kassna no recomienda
                    ni avala ninguna prueba específica, producto, procedimientos, opiniones, u otra información que pueda
                    ser mencionada en el Servicio. Aceptas y reconoces que el uso de cualquier información dada por Kassna,
                    Terapeutas u otros Usuarios es bajo tu propio riesgo. El Servicio puede contener materiales relacionados
                    a temas de salud o médicos que algunas personas puedes llegar a considerar como sexualmente explícito.
                    Si consideras este material ofensivo, se recomienda no utilizar el Servicio.
                </p>
            </div>
        </div>
    </div>
    {{> Footer}}
</template>