<template name="Terms">
    <div class="margin-section m-b-lg">
        <div class="container">
            <h1 class="block-title text-center c-yellow">{{_ "landing.terms.title"}}</h1>
            <hr class="m-b-md m-t-md">
            <div class="">
                <h3 class="c-turquoise">0. Antes de comenzar</h3>
                    <p>
                        La lectura y aceptación del ACUERDO es condición necesaria para el acceso y utilización del 
                        ENTORNO KASSNA. Si usted no acepta este ACUERDO, no podrá acceder o usar los SERVICIOS.
                        <br><br>
                        Este ACUERDO rige la relación entre todo USUARIO del ENTORNO KASSNA y AMAYALI; por lo que 
                        será vinculante; es decir, producirá derechos y obligaciones para los involucrados. 
                        <br><br>
                        EL ACUERDO RIGE LA RELACIÓN ENTRE EL USUARIO Y KASSNA. AL HACER USO DEL ENTORNO EL USUARIO 
                        ACEPTA LOS TÉRMINOS DEL ACUERDO Y SE COMPROMETE A CUMPLIRLO. 
                        <br><br>
                        El ENTORNO KASSNA sólo puede ser utilizado por personas físicas mayores de 18 años de edad 
                        que cuenten con la capacidad jurídica para asumir obligaciones y ejercer derechos en México. 
                        <br><br>
                        Las personas menores de 18 años de edad o que no tengan capacidad para contratar 
                        (interdicción o incapacidad) no están autorizados para utilizar el ENTORNO KASSNA. 
                        <br><br>
                        Al momento de utilizar el ENTORNO KASSNA, el USUARIO manifiesta su absoluta aceptación del 
                        ACUERDO vigente a la fecha de su uso. 
                        <br><br>
                        Algunos componentes de la OFERTA KASSNA podrían tener condiciones particulares; mismas que 
                        completarán, modificarán y/o sustituirán, en la parte correspondiente, el (los) enunciado(s) 
                        del ACUERDO. 
                        <br><br>
                        El ACUERDO podrá ser revisado, modificado y adicionado de vez en cuando por parte de AMAYALI, 
                        por lo tanto se recomienda a todos los USUARIOS que previo a la contratación de la OFERTA por 
                        medio del ENTORNO KASSNA, lleven a cabo su atenta lectura, revisión y aceptación de todos 
                        y cada uno de los enunciados del ACUERDO vigente. 
                        <br><br>
                        Cada USUARIO del ENTORNO KASSNA tiene la obligación de conocer el contenido del ACUERDO. 
                        <br><br>
                        El contenido y la información disponible por medio del ENTORNO KASSNA, incluyendo materiales, 
                        son únicamente para uso informativo. Nada del contenido debe ser considerado como 
                        asesoramiento médico profesional o como consulta médica. El contenido no esta hecho con la 
                        intención de sustituir asesoramiento médico profesional, consulta médica, diagnostico, o 
                        tratamiento. Al usar el ENTORNO KASSNA aceptas que no dependerás del SERVICIO como un 
                        sustituto para buscar asesoría médica profesional y que siempre buscaras la ayuda de un 
                        médico y otro proveedor médico calificado con cualquier duda que puedas tener respecto a 
                        temas médicos y de salud. Bajo ninguna circunstancia se generará una relación paciente-médico 
                        al contratar cualquier SERVICIO.
                        <br><br>
                        AMAYALI no recomienda ni avala ninguna prueba específica, producto, procedimientos, opiniones, 
                        u otra información que pueda ser mencionada en el ENTORNO KASSNA. Aceptas y reconoces que el 
                        uso de cualquier información dada por AMAYALI, ENTORNO KASSNA, TERAPEUTA u otro USUARIO es 
                        bajo tu propio riesgo. El ENTORNO KASSNA puede contener materiales relacionados a temas de 
                        salud o médicos que algunas personas pueden llegar a considerar como sexualmente explícitos. 
                        Si consideras este material ofensivo, se recomienda no utilizar el ENTORNO KASSNA.
                    </p>

                    <h3 class="c-turquoise">1. Descripción de la relación AMAYALI, CLIENTE y TERAPEUTA</h3>
                    <p>
                        AMAYALI es una sociedad mercantil mexicana que ofrece información a través del ENTORNO 
                        KASSNA para conectar la oferta y demanda a nivel nacional de servicios y productos del 
                        área de bienestar mediante un concepto que fomenta y apoya la OFERTA KASSNA mediante un 
                        proceso estandarizado de solicitud, confirmación y mecánica de pago de un TERAPEUTA. Por 
                        lo anterior, AMAYALI únicamente proporciona a los TERAPEUTAS y a los CLIENTES una 
                        oportunidad para el mejoramiento de su calidad de vida mediante la OFERTA. 
                        <br><br>
                        Por lo anterior, AMAYALI no proporciona ningún servicio de bienestar y no asumirá ninguna 
                        responsabilidad por la OFERTA ejecutada por el TERAPEUTA.                        
                        <br><br>
                        El TERAPEUTA no es empleado ni subordinado de AMAYALI ni del CLIENTE; sino es una persona 
                        física que a través del ENTORNO KASSNA acepta, y de manera independiente desarrolla un 
                        REQUERIMIENTO DE OFERTA a favor del CLIENTE. El TERAPEUTA autoriza a AMAYALI para ejecutar 
                        el procedimiento de cobro del REQUERIMIENTO DE OFERTA por medio del ENTORNO KASSNA. 
                    </p>
                    
                    <h3 class="c-turquoise">2. Definiciones</h3>
                    <p>
                        <b>“TERAPEUTA”:</b> Es la persona física mayor de edad que pertenece a la COMUNIDAD KASSNA y 
                        desarrolla un REQUERIMIENTO DE OFERTA solicitado por el CLIENTE a través de la 
                        PLATAFORMA WEB y/o en la APLICACIÓN KASSNA y/o el CENTRO DE ATENCIÓN KASSNA. 
                        <br><br>
                        TERAPEUTA PERSONA FÍSICA QUE DESARROLLA Y PROMUEVE LA OFERTA KASSNA. 
                        <br><br>
                        <b>“APLICACIÓN KASSNA”:</b> Sistema diseñado y controlado por, y propiedad de AMAYALI ejecutado 
                        en un dispositivo de comunicación móvil (tableta, teléfono celular o cualquier otro similar 
                        que exista en el mercado) con sistema operativo iOS 8 (ocho) y Android que es utilizada 
                        por el TERAPEUTA para concretar el REQUERIMIENTO DE OFERTA. 
                        <br><br>
                        <b>“BIENES DEL CLIENTE”:</b> Aquellos objetos de valor económico indeterminado sobre los que 
                        recae la ejecución y/o manipulación de la OFERTA por conducto del TERAPEUTA previo 
                        requerimiento del CLIENTE. 
                        <br><br>
                        <b>“CENTRO DE ATENCIÓN KASSNA”:</b> Componente del ENTORNO KASSNA que funge como Intermediario 
                        entre el TERAPEUTA y el CLIENTE y que es responsable de coordinar la ejecución del 
                        REQUERIMIENTO así como también tomar nota de los servicios adicionales al REQUERIMIENTO 
                        DE OFERTA original que serán ejecutados por el TERAPEUTA. 
                        <br><br>
                        <b>“COOKIE”:</b> Es un fichero que se descarga en su ordenador al acceder a la PLATAFORMA WEB. 
                        Las cookies permiten a la PLATAFORMA WEB, entre otras cosas, almacenar y recuperar 
                        información sobre los hábitos de navegación del USUARIO o de su equipo de cómputo con 
                        la finalidad de en un futuro reconocer, diseñar o perfeccionar un perfil de USUARIO. 
                        <br><br>
                        <b>“CLIENTE”, “CLIENTE KASSNA”:</b> Es el USUARIO que mediante el ENTORNO KASSNA solicita un 
                        REQUERIMIENTO DE OFERTA. Todo CLIENTE es un USUARIO, más no todo el USUARIO es un CLIENTE. 
                        <br><br>
                        <b>“ENTORNO KASSNA”:</b> Significa la PLATAFORMA WEB, APLICACIÓN KASSNA, el contenido promocional 
                        y/o informativo que sobre AMAYALI aparezca en medios impresos, electrónicos o audiovisuales 
                        de terceros; así como perfiles oficiales de AMAYALI en redes sociales. 
                        <br><br>
                        <b>“AMAYALI”:</b> AMAYALI TECHNOLOGIES S.A.P.I. DE C.V. es una sociedad mercantil mexicana 
                        propietaria de la PLATAFORMA WEB que a través de ésta conecta la demanda de la OFERTA 
                        KASSNA con el CLIENTE para ser ejecutada por el TERAPEUTA. 
                        <br><br>
                        El domicilio de AMAYALI es el ubicado en la ciudad de Monterrey, Nuevo León, México. 
                        <br><br>
                        <b>“OFERTA”, “OFERTA KASSNA”:</b> Es la referencia colectiva de los PRODUCTOS KASSNA y los 
                        SERVICIOS KASSNA. 
                        <br><br>
                        <b>“PLATAFORMA WEB”:</b> Es la herramienta tecnológica propiedad de, diseñada y controlada por 
                        AMAYALI asociada al dominio www.kassna.com que conecta la demanda de la OFERTA KASSNA 
                        con los TERAPEUTAS. 
                        <br><br>
                        La PLATAFORMA WEB se desempeña de manera óptima en los dispositivos que tengan una 
                        conexión a internet igual o superior a 1 (un) megabit por segundo y preferentemente en 
                        los navegadores Google Chrome versión 40 (cuarenta) o superior(es). 
                        <br><br>
                        <b>“PRODUCTOS”, “PRODUCTOS KASSNA”:</b> Bienes de procedencia nacional o extranjera debidamente 
                        autorizados para su circulación en el territorio nacional que podrían ser comercializados 
                        y/o utilizados por el TERAPEUTA al desarrollar cualquiera de los SERVICIOS KASSNA. 
                        <br><br>
                        Los PRODUCTOS KASSNA podrán ser ambientalmente preferentes; ecológicos o tradicionales. 
                        <br><br>
                        <b>“REQUERIMIENTO DE OFERTA”, “REQUERIMIENTO DE OFERTA KASSNA”:</b> Es la solicitud confirmada 
                        del CLIENTE gestionada mediante la PLATAFORMA WEB o la APLICACIÓN KASSNA en la que se 
                        especifica la fecha, hora, domicilio y OFERTA KASSNA a desarrollar por el TERAPEUTA. 
                        <br><br>
                        REQUERIMIENTO DE OFERTA ES LA SOLICITUD DE LA OFERTA KASSNA (PRODUCTOS Y/O SERVICIOS) 
                        QUE SERÁ EJECUTADA POR EL TERAPEUTA EN EL DOMICILIO DEL CLIENTE. 
                        <br><br>
                        <b>“SERVICIOS”, “SERVICIOS KASSNA”:</b> Son las actividades enunciadas en la PLATAFORMA WEB 
                        y/o APLICACIÓN KASSNA que el TERAPEUTA podría desarrollar a favor del CLIENTE una vez 
                        que son solicitadas por el REQUERIMIENTO DE OFERTA. 
                        <br><br>
                        Se entienden como SERVICIOS KASSNA, sin limitar, cualquiera de las siguientes: 
                        <br>
                            •	Masaje relajante<br>
                            •	Masaje descontracturante<br>
                            •	Masaje deportivo <br>
                            •	Masaje shiatsu
                        <br><br>
                        <b>“ USUARIO”:</b> Puede referirse, de manera individual a la persona física mayor de 18 años 
                        de edad que voluntariamente utiliza el ENTORNO KASSNA para monitorear, conocer, solicitar 
                        o evaluar la OFERTA. El USUARIO no necesariamente es un CLIENTE KASSNA pero todo CLIENTE 
                        KASSNA es un USUARIO. 
                    
                    </p>
                        <h3 class="c-turquoise">3. Reglas generales de uso del ENTORNO KASSNA</h3>
                    <p>
                        
                        El ENTORNO KASSNA es un espacio virtual en el que existirá intercambio de información entre todos los USUARIOS; por lo tanto AMAYALI como propietario y administrador de éste, establece las siguientes directrices para preservar un espacio de cordialidad, respeto y transparencia. 
                        <br><br>
                        Los USUARIOS se comprometen a no realizar conductas que tengan por objeto comprometer la seguridad de: 
                        <br>
                        i.	El ENTORNO KASSNA y de los demás USUARIOS (dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los materiales e información contenidos en ellos); 
                        <br>
                        ii.	Los sistemas de información o los documentos, archivos y toda clase de contenidos almacenados en cualquier equipo informático de AMAYALI y/o de los demás USUARIOS, debiendo responder de los daños y pérdidas que dichas acciones hubieren provocado a AMAYALI o a terceros. 
                        <br><br>
                        Por lo anterior, los USUARIOS tienen prohibido descifrar, descompilar, desmontar, reconstruir, traducir cualquier elemento del ENTORNO KASSNA. 
                        <br><br>
                        Los USUARIOS se abstendrán de: 
                        <br>
                        a.	Intentar y recabar datos de otros USUARIOS y de enviar publicidad de cualquier clase con la finalidad de promover actividades comerciales o de cualquier otra naturaleza, sean ésta legales o ilegales. 
                        <br>
                        b.	Poner a disposición de terceros, con cualquier finalidad, datos recabados en el ENTORNO KASSNA. 
                        <br>
                        c.	Los USUARIOS o terceros perjudicados por la recepción de mensajes no deseados podrán informar de tal circunstancia a AMAYALI en los medios especificados para tales efectos en el ACUERDO. 
                        <br><br>
                        EL USUARIO PODRÁ MANIFESTAR SUS RESPETUOSAS OPINIONES SOBRE AMAYALI EN LOS DIFERENTES COMPONENTES DEL ENTORNO. 
                        <br><br>
                        El USUARIO entiende y acepta que AMAYALI podrá en todo momento realizar operativos tecnológicos, legales, administrativos o de cualquier otra naturaleza y/o tecnología que al momento se encuentre a su alcance para identificar y sancionar cualquier comportamiento que contravenga los dispuesto por este ACUERDO o la legislación vigente aplicable. 
                        <br><br>
                        Los USUARIOS podrán manifestar sus opiniones y comentarios relativos a los TERAPEUTAS, el ENTORNO KASSNA y/o la OFERTA. AMAYALI se reserva el derecho de publicar, extractar, resumir o abreviar el contenido de las opiniones realizadas por los USUARIOS. 
                        <br><br>
                        Algunas manifestaciones de los USUARIOS podrían requerir la validación de AMAYALI. En su caso, AMAYALI podría proceder a su bloqueo o eliminación total o parcial y, en su caso, pudieran ameritar la baja del USUARIO emisor de los elementos del ENTORNO KASSNA, cuando al juicio de AMAYALI, la libre expresión del USUARIO sea o pudiera resultar: 
                        <br>
                        •	Abusiva, difamatoria, obscena u ofensiva; 
                        <br>
                        •	Engañosa, fraudulenta y/o incongruente con la información, datos o cualquier otra precisión manifiesta; 
                        <br>
                        •	Ilegal, contrario a los enunciados del ACUERDO, o en perjuicio o lucro indebido de otros USUARIOS o de terceros involucrados directa o indirectamente con el ENTORNO KASSNA. 
                        <br>
                        •	Relativos a otros sitios web que sean competidores de AMAYALI. 
                        <br>
                        •	En un funcionamiento anormal o perjudicial para el ENTORNO KASSNA, ya sean por sus características visuales (extensión, formato, redacción incorrecta) o técnicas (código ininteligible para el ENTORNO KASSNA). 
                        <br><br>
                        Por lo anterior, cualquier manifestación o expresión realizada por el USUARIO relacionada con el ENTORNO KASSNA, REQUERIMIENTO DE OFERTA, desempeño del TERAPEUTA y cualquiera relacionada al ACUERDO deberá ser expresada por los canales que AMAYALI ponga a disposición de los USUARIOS en términos claros, objetivos y veraces a efecto de facilitar cualquier respuesta o pacto futuro inherente a los mismos. 
                        <br><br>
                        AMAYALI podrá publicar información o referencias que terceros y/o USUARIOS del ENTORNO KASSNA realicen sobre la OFERTA y/o AMAYALI; no obstante AMAYALI no se hace responsable de las expectativas que sobre dichos comentarios el CLIENTE se formulara, toda vez que cada REQUERIMIENTO DE OFERTA se realizará por un TERAPEUTA que es apto para realizarlo. 
                        <br><br>
                        LA PLATAFORMA WEB podrá utilizar cookies cuando un USUARIO navega en ella. No obstante, se hace del conocimiento del USUARIO que en todo tiempo podrá aceptar o rechazar, según corresponda, la instalación, bloqueo o eliminación de cookies de su equipo. Es recomendable que el USUARIO valide la configuración de su navegador previo a la utilización del ENTORNO KASSNA. 
                    </p>
                    
                    <h3 class="c-turquoise">4. Del registro y baja de los USUARIOS en el ENTORNO KASSNA</h3>
                    <p>

                        Para utilizar el ENTORNO KASSNA, el USUARIO podrá, de acuerdo a disponibilidad, utilizar su cuenta de usuario de las redes sociales de Facebook®, Google® o en su caso, generar un nombre de usuario asociado a alguna cuenta de correo electrónico existente y establecer una contraseña que satisfaga los requerimientos de AMAYALI. 
                        <br><br>
                        EL USUARIO PODRÁ DARSE DE ALTA EN EL ENTORNO KASSNA CON SU CUENTA DE FACEBOOK, GOOGLE O CUALQUIER OTRA VÁLIDA. SÓLO 1 CUENTA POR USUARIO. 
                        <br><br>
                        El USUARIO tiene estrictamente prohibido tener más de 1 (una) cuenta de usuario en el ENTORNO KASSNA. 
                        <br><br>
                        Es responsabilidad del USUARIO mantener con carácter confidencial su nombre de usuario y contraseña y utilizarlos únicamente para los fines que se pretenden alcanzar en el ENTORNO KASSNA. 
                        <br><br>
                        Algunos módulos o funcionalidades del ENTORNO KASSNA requerirán que el USUARIO previamente complete un formulario de registro. El USUARIO es el único responsable de que la información suministrada en los formularios sea veraz y coincida con su realidad. Excepcionalmente y a su entera discreción, AMAYALI podrá requerir al USUARIO evidencia que compruebe la veracidad de información proporcionada. 
                        <br><br>
                        El USUARIO se compromete a actualizar en la PLATAFORMA WEB y/o en la APLICACIÓN KASSNA cualquier modificación que sufran los datos proporcionados a AMAYALI; en caso contrario, AMAYALI no asumirá ningún tipo de responsabilidad por la inexactitud o falsedad de los datos para todos los efectos a que hubiera lugar. 
                        <br><br>
                        El USUARIO se compromete a notificar de manera inmediata por los canales que para tales efectos son precisados en el ENTORNO KASSNA, sobre el uso no autorizado o indebido de su nombre de usuario y contraseña o cualquier comportamiento inusual o falla en el ENTORNO KASSNA. Si el USUARIO fuera omiso en esta conducta, AMAYALI no será responsable de los daños o pérdidas que se pudieran originar desde el momento en que identificó la situación no reportada y hasta el momento de su atención por AMAYALI debido al incumplimiento de esta obligación. 
                        <br><br>
                        El USUARIO podrá en todo tiempo solicitar su baja del ENTORNO KASSNA mediante una comunicación electrónica a usuarios@kassna.com o en su caso agotar el proceso correspondiente habilitado para ello en el ENTORNO KASSNA.
                    </p>
                    
                    <h3 class="c-turquoise">5. Del funcionamiento del ENTORNO KASSNA y REQUERIMIENTO DE OFERTA </h3>
                    <p> 
                            <b>a. Funcionamiento del ENTORNO KASSNA </b>
                            <br><br>
                            EL ENTORNO KASSNA ES COMPATIBLE CON MÚLTIPLES PLATAFORMAS. VALIDA CUÁL ES LA MEJOR SE ADAPTA A TUS EQUIPOS DE COMUNICACIÓN. 
                            <br><br>
                            El ENTORNO KASSNA para su óptimo funcionamiento requiere que el USUARIO satisfaga los siguientes requisitos técnicos: 
                            <br>
                            i.	Navegador web: 
                            <br>
                            a.	Safari versión 5 
                            <br>
                            b.	Chrome versión 40 
                            <br>
                            c.	Fireforx versión 41 
                            <br>
                            d.	Internet explorer versión 10 
                            <br>
                            ii.	Conexión a Internet de 1 megabit por segundo o superior de velocidad 
                            <br>
                            iii.	Dispositivos móviles con sistema operativo iOS 8 (ocho) y Android 
                            <br><br>
                            AMAYALI no será responsable de los daños que el USUARIO pudiera sufrir por el uso del ENTORNO KASSNA en equipos que satisfagan o no los requerimientos anteriormente aludidos. Es responsabilidad del USUARIO que los dispositivos en los que sea utilizado el ENTORNO KASSNA le provean las medidas de seguridad suficientes para la protección de su información y su funcionamiento. 
                            <br><br>
                            <b>b. Del REQUERIMIENTO DE OFERTA </b>
                            <br><br>
                            <b>i.	Solicitud</b> 
                            <br><br>
                            El USUARIO podrá elegir del módulo del ENTORNO KASSNA correspondiente, la OFERTA DE SERVICIOS y programar la fecha, hora, domicilio y, de considerarlas convenientes, algunas especificaciones particulares que requiere que el TERAPEUTA ejecute. Al respecto, se recomienda ampliamente al USUARIO que manifieste estas peticiones con la claridad y así prevenir inconformidades futuras. 
                            <br><br>
                            EL CLIENTE PODRÁ SOLICITAR LA OFERTA KASSNA POR MEDIO DE LA PLATAFORMA WEB Y/O LA APLICACIÓN KASSNA. ADICIONALMENTE PODRÁ HACERLO A TRAVÉS DEL CENTRO DE ATENCIÓN KASSNA PARA SERVICIOS ADICIONALES. 
                            <br><br>
                            El USUARIO acepta y reconoce que ocasionalmente, no todos los SERVICIOS podrían estar disponibles en la localidad, fechas u horarios solicitados. AMAYALI informará al CLIENTE con oportunidad dichas consideraciones durante el proceso de solicitud del REQUERIMIENTO DE OFERTA. 
                            <br><br>
                            Un REQUERIMIENTO DE OFERTA podría no ser desarrollado en su totalidad por un solo TERAPEUTA. 
                            <br><br>
                            AMAYALI transmitirá los datos personales, de ubicación e información adicional proporcionada por el USUARIO al (a los) TERAPEUTA(S) disponible(s) y confirmará al CLIENTE por medio de la PLATAFORMA WEB y/o la APLICACIÓN KASSNA el (los) nombre(s) del (de los) TERAPEUTA(S) que ejecutará(n) el REQUERIMIENTO DE OFERTA. 
                            <br><br>
                            El CLIENTE acepta y reconoce que AMAYALI en cualquier momento previo a la ejecución del REQUERIMIENTO DE OFERTA, podrá notificarle el cambio del (de los) TERAPEUTA(S) que fueron previamente confirmados a través de la PLATAFORMA WEB y/o la APLICACIÓN KASSNA. 
                            <br><br>
                            El (los) TERAPEUTA(S) se pesentará(n) en el domicilio y hora indicado por el CLIENTE en el REQUERIMIENTO DE OFERTA. 
                            <br><br>
                            <b>ii.	Políticas de modificación, cancelación programada y cancelación en sitio del REQUERIMIENTO DE OFERTA </b>
                            <br><br>
                            Si el USUARIO que teniendo confirmado un REQUERIMIENTO DE OFERTA, tuviera la necesidad de modificarlo o cancelarlo, podrá realizarlo sin costo previo a 4 (cuatro) horas del inicio de la ejecución del REQUERIMIENTO original. Donde AMAYALI abonará el cargo completo realizado como saldo a favor a la cuenta del USUARIO para que pueda ser utilizado en otro momento, lo anterior no implica un rembolso bancario.
                            <br><br>
                            El CLIENTE entiende que el REQUERIMIENTO DE OFERTA reprogramado pudiera no tener la misma disponibilidad que el inicialmente reservado.
                            <br><br>
                            <b>Cancelación en sitio </b>
                            <br><br>
                            En caso de que el TERAPEUTA se presente al domicilio indicado en el REQUERIMIENTO DE OFERTA y por cualquier razón no imputable a él, esté imposibilitado de iniciar con su ejecución; el CLIENTE deberá cubrir el pago total de la reservación. 
                            <br><br>
                            TIEMPO DE TOLERANCIA = 15 MINUTOS O 25% DEL TIEMPO CONTRATADO 
                            <br><br>
                            Se entenderá que el REQUERIMIENTO DE OFERTA no es posible ejecutarlo por causas imputables al CLIENTE, cuando en el domicilio indicado en el REQUERIMIENTO DE OFERTA, a la hora de su ejecución, no hubiera ninguna persona que pudiera recibir al TERAPEUTA. En el caso de que la persona que recibiera al TERAPEUTA fuera una persona menor de edad, incapacitada o en estado de interdicción, será responsabilidad del CLIENTE y éste se compromete a liberar a AMAYALI y/o al TERAPEUTA de cualquier responsabilidad que pudiera surgir por dicha situación. 
                            <br><br>
                            El TERAPEUTA permanecerá en el domicilio durante 15 (quince) minutos o el equivalente al 25% (veinticinco) por ciento del tiempo programado (el “TIEMPO DE TOLERANCIA”) para la ejecución del REQUERIMIENTO, el que resulte menor. 
                            <br><br>
                            El TERAPEUTA informará dicha situación al CENTRO DE ATENCIÓN KASSNA, que a su vez se comunicará con el CLIENTE para efectuar manualmente la cancelación del REQUERIMIENTO. 
                            <br><br>
                            Agotado el TIEMPO DE TOLERANCIA, sin que el CLIENTE o alguna persona autorizada por él le diera acceso al TERAPEUTA al domicilio; el TERAPEUTA estará en posibilidad de retirarse del lugar. 
                            <br><br>
                            Los minutos que el TERAPEUTA espere dentro del TIEMPO DE TOLERANCIA no será compensado por el TERAPEUTA ni tampoco será descontado del precio total del REQUERIMIENTO DE OFERTA. 
                            <br><br>
                            <b>iii.	Ejecución del REQUERIMIENTO DE OFERTA por el TERAPEUTA </b>
                            <br><br>
                            La OFERTA KASSNA será ejecutada única y exclusivamente por el (los) TERAPEUTA(S) que hubieren sido confirmados por AMAYALI, no pudiendo en ningún momento ser realizada por persona distina a ésta(s). 
                            <br><br>
                            EL REQUERIMIENTO DE OFERTA SERÁ EJECUTADO POR EL TERAPEUTA QUE HUBIERAN SIDO CONFIRMADOS POR AMAYALI 
                            <br><br>
                            En caso de que el REQUERIMIENTO DE OFERTA sea iniciado fuera del horario especificado por causas no imputables al TERAPEUTA, dicho retraso no será compensado por el TERAPEUTA y éste realizará las actividades del REQUERIMIENTO DE OFERTA que el tiempo restante originalmente programado se lo permita. 
                            <br><br>
                            El TERAPEUTA desarrollará únicamente los SERVICIOS KASSNA que el CLIENTE específicamente haya precisado en el REQUERIMIENTO DE OFERTA. El TERAPEUTA tomará todas las medidas de seguridad y de cuidado necesarios para el desarrollo de la OFERTA KASSNA. 
                            <br><br>
                            El CLIENTE no deberá, en ningún momento y bajo ninguna circunstancia solicitar al TERAPEUTA el desarrollo de un servicio adicional distinto del indicado; que no haya sido debidamente solicitado al CENTRO DE ATENCIÓN KASSNA, a la PLATAFORMA WEB y/o en la APLICACIÓN KASSNA, según corresponda al momento de su realización. 
                            <br><br>
                            El CLIENTE deberá mantener una relación cordial y de respeto con el TERAPEUTA. Con la finalidad del REQUERIMIENTO DE OFERTA sea realizado con la mayor agilidad, el CLIENTE evitará incurrir en conductas que pudieran distraer la concentración del TERAPEUTA en la manipulación de PRODUCTOS o el desarrollo de los SERVICIOS que comprometieran su integridad física, la del CLIENTE e inclusive daños a los BIENES DEL CLIENTE. 
                            <br><br>
                            AMAYALI realiza esfuerzos contractuales para que los TERAPEUTAS cumplan con su obligación de realizar el REQUERIMIENTO DE OFERTA; sin embargo, no garantiza que el TERAPEUTA cumpla con ello. En consecuencia, AMAYALI no asume ninguna responsabilidad por los daños o perjuicios que pudieran ser ocasionados al USUARIO por esta circunstancia. 
                            <br><br>
                            Si el CLIENTE no estuviere satisfecho con el resultado de la ejecución del REQUERIMIENTO DE OFERTA, podrá comunicarlo a AMAYALI por medio de los canales establecidos en el ENTORNO KASSNA y de así desearlo, completar el formato de evaluación del TERAPEUTA. AMAYALI, previa evaluación de la situación y a su entera discreción, podrá ofrecer al CLIENTE alguna solución o remediación por el inconveniente. Asimismo, AMAYALI, a su discreción, compartirá al TERAPEUTA la evaluación. Asimismo AMAYALI podrá, en caso de así considerarlo necesario, terminar relaciones con el TERAPEUTA que reiteradamente viole sus compromisos adquiridos. 
                            <br><br>
                            <b>iv.	Precio y forma de pago </b>
                            <br><br>
                            AMAYALI podrá modificar en cualquier tiempo y sin causa alguna el precio de la OFERTA KASSNA. De igual manera, a su entera discreción podrá establecer promociones u ofertas generales y específicas. 
                            <br><br>
                            EL CLIENTE PODRÁ CUBRIR EL PRECIO DEL REQUERIMIENTO CONFORME A LAS FORMAS Y MEDIOS DE PAGO ESTABLECIDAS POR AMAYALI. 
                            <br><br>
                            Los REQUERIMIENTOS DE OFERTA serán cubiertos por el CLIENTE a través de los medios de pago y conforme a las mecánicas que al efecto AMAYALI indique en los diversos componentes del ENTORNO KASSNA. 
                            <br><br>
                            Los cobros efectuados no son reembolsables bajo ningún motivo o circunstancia. En su caso, AMAYALI establecerá un sistema de saldo a favor para futuras reservaciones de REQUERIMIENTOS DE OFERTA. 
                        </p>
                        
                        <h3 class="c-turquoise">6. Derechos y obligaciones</h3>
                        <p> 
                                <b>a. De los CLIENTES</b> 
                                <br><br>
                                Sin perjuicio de las demás indicadas en el ACUERDO, el CLIENTE es responsable de: 
                                <br>
                                1.	Cubrir el costo de la OFERTA KASSNA que esté indicada en cada REQUERIMIENTO;
                                <br>
                                2.	No violar ninguna ley o reglamento;
                                <br>
                                3.	Proveer a AMAYALI información verídica y, cuando así fuere requerido, proporcionar la documentación comprobatoria correspondiente;
                                <br><br>
                                PROVEER A AMAYALI INFORMACIÓN VERAZ Y REAL AL GENERAR SU USUARIO Y RESERVAR UN REQUERIMIENTO DE OFERTA. 
                                <br><br>
                                4.	Utilizar el ENTORNO KASSNA y apoyarse en el TERAPEUTA únicamente para las finalidades de la OFERTA KASSNA y nunca para fines contrarios al ACUERDO o a las leyes aplicables;
                                <br>
                                5.	Sacar a salvo y en paz a AMAYALI y/o al TERAPEUTA ante cualquier incumplimiento del CLIENTE al ACUERDO e indemnizarlos por cualquier acción legal que resulte en su contra;
                                <br>
                                6.	Preservar los datos personales del TERAPEUTA; 
                                <br>
                                7.	No participar en comportamiento abusivo, acosador, indecente, profano, obsceno, odioso o de otra manera objetable, incluyendo mala conducta sexual;
                                <br>
                                8.	No estar bajo las influencias del alcohol o de sustancias ilícitas al momento de que se desarrollen los SERVICIOS;
                                <br>
                                9.	No utilizar las PLATAFORMA WEB y/o APLICACIÓN KASSNA para exhibir, transmitir, distribuir o vincular cualquier material que sea falso, engañoso, discriminatorio, difamatorio, ofensivo u obsceno o que pueda incitar a la discriminación, odio, violencia contra una persona o grupo de personas por causa de su origen étnico, raza o religión a causa de su origen o pertenencia a alguno de éstos;
                                <br>
                                10.	Contar y cumplir con los requerimientos técnicos del navegador de Internet y/o aplicación móvil para acceder y utilizar el ENTORNO KASSNA, incluyendo la conexión a Intenet;
                                <br>
                                11.	Tomar todas las medidas de seguridad y de cuidado necesarias para que la OFERTA KASSNA sea ejecutada o provista por el TERAPEUTA de una manera segura tanto para éste como para la protección de los BIENES DEL CLIENTE en las que se desarrollen los SERVICIOS y/o manipulen los PRODUCTOS KASSNA. AMAYALI recomienda al CLIENTE evitar que el REQUERIMIENTO DE OFERTA se realice alrededor de BIENES de alto valor económico, personal o de cuidados altamente especializados. 
                                <br><br>
                                EL USUARIO EVALUARÁ EL DESEMPEÑO DEL TERAPEUTA A TRAVÉS DE LOS CANALES DISPUESTOS PARA ELLO POR PARTE DE AMAYALI. 
                                <br><br>
                                12.	Recibir, personalmente o por medio de una persona con capacidad legal de su confianza, en el domicilio del REQUERIMIENTO al TERAPEUTA para iniciar su ejecución. AMAYALI no será responsable de las consecuencias que el incumplimiento esta disposición tuvieran lugar. 
                                <br>
                                13.	El CLIENTE entiende y reconoce que AMAYALI y/o el TERAPEUTA no pueden conocer con certeza la cantidad y calidad de los objetos que integran el haber patrimonial del CLIENTE en el domicilio del REQUERIMIENTO; por lo tanto, bajo ninguna circunstancia serán responsables por la supuesta pérdida de dichos objetos. 
                                <br>
                                14.	El CLIENTE podrá evaluar el desempeño del TERAPEUTA a través de los canales que el ENTORNO KASSNA habilite. 
                                <br><br>
                                <b>b. De AMAYALI</b> 
                                <br><br>
                                Sin perjuicio de las demás indicadas en el ACUERDO, AMAYALI está autorizado por el TERAPEUTA para concentrar y administrar el pago de los REQUERIMIENTOS DE OFERTA; por lo tanto, AMAYALI hará efectivo el cobro en su totalidad al CLIENTE conforme a la mecánica de pago aplicable en dicho momento. 
                                <br><br>
                                AMAYALI AVISARÁ AL USUARIO CON OPORTUNIDAD, LAS VENTANAS DE MANTENIMIENTO AL ENTORNO KASSNA. AMAYALI ESTÁ AUTORIZADO POR EL TERAPEUTA PARA REALIZAR LOS COBROS DEL REQUERIMIENTO DE OFERTA. 
                                <br><br>
                                AMAYALI se compromete con los USUARIOS a que el ENTORNO KASSNA esté disponible de manera permanente y en óptimo funcionamiento. AMAYALI podrá, de tiempo en tiempo, realizar ventanas de mantenimiento a los elementos del ENTORNO que fueran de su competencia. En dichos casos, avisará oportunamente al USUARIO por medio de los diferentes canales de comunicación e informará los elementos que no estuvieren disponibles. 
                                <br><br>
                                AMAYALI informará al USUARIO de manera puntual los alcances del REQUERIMIENTO DE OFERTA, su precio, tiempo de ejecución realizado, identificación del (de los) TERAPEUTA(S) que lo ejecutará(n). 
                                <br><br>
                                En virtud de que el TERAPEUTA no es un subordinado ni empleado de AMAYALI; y su relación comercial es directamente con el CLIENTE cualquier controversia que pudiera existir entre ellos deberá ser resuelta entre dichas partes sin la intervención de AMAYALI. 
                                <br><br>
                                No obstante, AMAYALI procurará la satisfacción del USUARIO por el uso del ENTORNO KASSNA, por lo que a su entera discreción, podría otorgar algunos beneficios adicionales por el uso del ENTORNO KASSNA y que no necesariamente estén vinculados con la ejecución de la OFERTA. 
                            </p>
                            
                            <h3 class="c-turquoise">7. Otras consideraciones</h3>
                            <p> 

                                    <b>a.	Limitaciones y excluyentes de responsabilidad de AMAYALI</b> 
                                    <br><br>
                                    AMAYALI ha desarrollado un proceso puntual de revisión de los antecedentes de cada TERAPEUTA cuando éste solicita adherirse a la COMUNIDAD KASSNA; no obstante lo anterior, AMAYALI no garantiza la fiabilidad, calidad y/o idoneidad de éstos para el desarrollo de la OFERTA y por ende, AMAYALI no asumirá ninguna responsabilidad por ningún SERVICIO y/o PRODUCTO KASSNA ejecutado y/o manipulado por el TERAPEUTA durante la ejecución de un REQUERIMIENTO DE OFERTA; tampoco será responsable por objetos que el CLIENTE alegue como perdidos. De igual manera, AMAYALI no representará al TERAPEUTA ante el CLIENTE ni viceversa ante terceros. 
                                    <br><br>
                                    AMAYALI no será responsable por cualquier reclamación, daño o perjuicio que surja con motivo de la utilización del ENTORNO KASSNA por el USUARIO. 
                                    <br><br>
                                    Las opiniones y comentarios que estén publicados en el ENTORNO KASSNA por los USUARIOS son únicamente responsabilidad de quiénes los formulan y no necesariamente reflejan la postura de AMAYALI o de sus socios en dichos sentidos. 
                                    <br><br>
                                    <b>b.	Confidencialidad, propiedad intelectual y protección de datos personales. </b>
                                    <br><br>
                                    i.	Confidencialidad 
                                    <br><br>
                                    Los USUARIOS comprenden y acuerdan que, al ejecutar este ACUERDO, cada una de ellas podrá tener acceso o podrá quedar expuesta, directa o indirectamente, a información confidencial de la otra (la "INFORMACIÓN CONFIDENCIAL"). La INFORMACIÓN CONFIDENCIAL incluye datos personales, volumen de transacciones, nombres de usuario, contraseñas, información de perfiles, vinculación a cuentas de correo electrónicas personales o de propiedad de terceros, propiedad intelectual, entre otros. 
                                    <br><br>
                                    Los USUARIOS y AMAYALI acuerdan que toda la INFORMACIÓN CONFIDENCIAL de cada una de ellas será de su propiedad exclusiva, por lo que no podrán utilizarla para fines distintos a los del ACUERDO y por lo tanto, tienen estrictamente prohibido divulgarla, reproducirla o destruirla sin autorización de quien resulte ser su legítimo poseedor o propietario. 
                                    <br><br>
                                    ii.	Propiedad intelectual 
                                    <br><br>
                                    Comprende el ENTORNO KASSNA, cualquier patente, derecho de autor, invención, bases de datos, diseños, marcas, avisos comerciales, marca de servicios, saber hacer, modelo de servicio, o cualquier aplicación de dicho saber hacer, nombre comercial, empresarial, nombre de dominio, programa de computación, aplicaciones informáticas para dispositivos móviles, independientemente de si se encuentra registrado o no en cualquier parte del mundo que sea propiedad de AMAYALI. 
                                    <br><br>
                                    AMAYALI ES PROPIETARIO DE LA PLATAFORMA WEB, LA APLICACIÓN KASSNA Y BENEFICIARIO DE LOS DERECHOS PATRIMONIALES POR LA EXPLOTACIÓN DE ACTIVOS INTANGIBLES DERIVADOS DE LA OFERTA. 
                                    <br><br>
                                    El USUARIO reconoce que AMAYALI es propietario del ENTORNO KASSNA así como beneficiario de los derechos patrimoniales por la explotación de las marcas y avisos comerciales relacionados con la OFERTA KASSNA. 
                                    <br><br>
                                    iii.	Protección de datos personales 
                                    <br><br>
                                    AMAYALI se comprometen a tratar los datos personales de los USUARIOS conforme a las leyes aplicables y al Aviso de Privacidad de AMAYALI; absteniéndose en todo tiempo de tratarlos en una forma distinta a estos. 
                                    <br><br>
                                    LOS DATOS PERSONALES DEL USUARIO SERÁN TRATADOS CONFORME A LAS POLÍTICAS DE PRIVACIDAD DE AMAYALI. 
                                    <br><br>
                                    AMAYALI se compromete a implementar todas las medidas de seguridad de información de los datos personales; para evitar su indebido o ilegal tratamiento por terceros no autorizados para ello. El USUARIO, al utilizar el ENTORNO KASSNA acepta que sus datos sean tratados en los términos del Aviso de Privacidad de AMAYALI y autoriza sus transferencias a los terceros con quienes AMAYALI tenga relación y/o esté autorizado por las leyes aplicables para compartirlos. 
                                    <br><br>
                                    El USUARIO podrá ejercitar sus derechos de Acceso, Rectificación, Cancelación y Oposición amparados en la legislación en los términos descritos en el Aviso de Privacidad de AMAYALI. Para tales efectos, el USUARIO podrá consultar la Política de Privacidad de AMAYALI en el enlace http://www.kassna.com/privacidad. 
                                    <br><br>
                                    <b>c.	Modificaciones al ACUERDO. </b>
                                    <br><br>
                                    Los documentos que con posterioridad a la publicación del ACUERDO regulen aspectos particulares de la OFERTA KASSNA que indiquen que su contenido formará parte del ACUERDO, serán vinculantes para todos los involucrados a partir de las fechas específicas de su publicación. 
                                    <br><br>
                                    En caso de controversia entre lo dispuesto por el ACUERDO y dichos documentos, prevalecerá el documento en la parte que el ACUERDO no regule de manera específica al caso concreto. 
                                    <br><br>
                                    LAS MODIFICACIONES DEL ACUERDO SERÁN INFORMADAS AL TERAPEUTA POR LOS CANALES CORRESPONDIENTES. 
                                    <br><br>
                                    AMAYALI notificará al USUARIO la modificación y la divulgación de los nuevos términos del ACUERDO, mismas que entrarían en vigor dentro de los 5 (cinco) días naturales siguientes a la fecha de su publicación en el ENTORNO KASSNA. Si el USUARIO no se manifestare en contra de las nuevas condiciones del ACUERDO en dicho periodo y antes a su finalización, utilizare el ENTORNO KASSNA, se entenderá que automáticamente las acepta. 
                                    <br><br>
                                    Si el USUARIO no estuviera de acuerdo con las nuevas condiciones del ACUERDO, podrá solicitar su cancelación de usuario sin responsabilidad alguna. 
                                    <br><br>
                                    <b>d.	Comunicaciones. </b>
                                    <br><br>
                                    Todo aviso o comunicación que deban hacerse AMAYALI y los USUARIOS con relación al ACUERDO deberá realizarse por medio del ENTORNO KASSNA y entrarán en vigor conforme AMAYALI así lo establezca. 
                                    <br><br>
                                    <b>e.	Nulidad del ACUERDO </b>
                                    <br><br>
                                    En el caso de que una o más de las disposiciones contenidas en el ACUERDO sea, por cualquier razón, inválida, ilegal o no pueda ejercitarse en cualquier aspecto, tal invalidez o ilegalidad no afectará cualquier otra disposición aquí prevista y el ACUERDO será interpretado como si tal disposición inválida o ilegal nunca hubiera sido incluida. 
                                    <br><br>
                                    SI ALGUNA PARTE DEL ACUERDO FUERA DECLARADA NULA POR AUTORIDAD COMPETENTE, LA NULIDAD SÓLO AFECTARÁ A DICHA PARTE Y NO A LA TOTALIDAD DEL ACUERDO. 
                                    <br><br>
                                    El hecho de que AMAYALI o el TERAPEUTA, teniendo derecho a exigir de la otra una determinada prestación y no lo hiciere, no significará su renuncia a hacerlo y podrán exigirlo hasta en tanto la legislación aplicable que lo ampare así lo contemple. 
                                    <br><br>
                                    <b>f.	Legislación aplicable, solución de controversias y jurisdicción. </b>
                                    <br><br>
                                    Para la interpretación y cumplimiento de este ACUERDO, así como para la resolución de cualquier controversia relacionada con él, AMAYALI y el USUARIO convienen en someterse, en este orden de relación, a los siguientes mecanismos de resolución: 
                                    <br><br>
                                    1.	A alguno de los medios alternos de solución de conflictos previstos en las Leyes federales y locales de Nuevo León; y, 
                                    <br><br>
                                    2.	A la jurisdicción de los tribunales de la ciudad de Monterrey, Nuevo León. 
                                    <br><br>
                                    CUALQUIER CONTROVERSIA CON RELACIÓN AL ACUERDO SERÁ RESUELTA EN MONTERREY, NUEVO LEÓN; EJERCITANDO MEDIOS ALTERNOS O EN SU CASO JUICIO. 
                                    <br><br>
                                    Renunciando AMAYALI y el USUARIO expresamente a cualquier otro fuero que por su domicilio presente o futuro pudiere corresponderles. 
                                    <br><br>
                                    AMAYALI y el USUARIO acuerdan que la parte que inicie el procedimiento de resolución de controversias por algún medio alterno, deberá cubrir el 100% (cien por ciento) de los gastos que se generen para su instrumentación. La parte que resultare declarada culpable, deberá cubrir a la parte inocente el porcentaje referido en esta cláusula; lo anterior, salvo disposición legal o pacto en contrario que en dicho sentido celebren AMAYALI y el USUARIO. 
                                    <br><br>
                                    Tratándose de la interposición de un juicio, los gastos del mismo se determinarán en función de lo que contemplen las leyes procesales correspondientes, y en su caso, el juez que conozca de la misma. 
                                    <br><br>
                                    <b>g.	Vigencia del ACUERDO. </b>
                                    <br><br>
                                    El ACUERDO es vigente desde el 01 de agosto de 2017. 


                </p>
  
            </div>
        </div>
    </div>
    {{> Footer}}
</template>