<template name="Testimonies">
  <div class="block p-l-0 p-t-0 p-r-0 bg-light-gray">
    <div id="carousel-example-generic-2" class="carousel carousel-light slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="block block-lg bg-light-gray">
            <div class="container text-center app-translate-15" data-transition="entrance">
              <blockquote class="pull-quote">
                <img class="img-circle" src="/img/person.png">
                <p>
                  “Task management. Calendars. Email. They all have one thing in common&hellip;literally no one enjoys managing them. Thanks to years of research, we can now predict every single thing you'll ever have to do or go to. Yeah, we're that good.”
                </p>
                <cite>Mark Otto, Creator of Mochi</cite>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="block block-lg bg-light-gray">
            <div class="container text-center app-translate-15" data-transition="entrance">
              <blockquote class="pull-quote">
                <img class="img-circle" src="/img/person.png">
                <p>
                  “Task management. Calendars. Email. They all have one thing in common&hellip;literally no one enjoys managing them. Thanks to years of research, we can now predict every single thing you'll ever have to do or go to. Yeah, we're that good.”
                </p>
                <cite>Mark Otto, Creator of Mochi</cite>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="block block-lg bg-light-gray">
            <div class="container text-center app-translate-15" data-transition="entrance">
              <blockquote class="pull-quote">
                <img class="img-circle" src="/img/person.png">
                <p>
                  “Task management. Calendars. Email. They all have one thing in common&hellip;literally no one enjoys managing them. Thanks to years of research, we can now predict every single thing you'll ever have to do or go to. Yeah, we're that good.”
                </p>
                <cite>Mark Otto, Creator of Mochi</cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic-2" role="button" data-slide="prev">
        <span class="icon icon-chevron-thin-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic-2" role="button" data-slide="next">
        <span class="icon icon-chevron-thin-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</template>
