<template name="HomeAntistress">

	{{> HeroAntistress}}
	{{> AntistressBenefits}}
	{{> TestimoniesAntistress}}
	{{> Features}}
	{{> PricesAntistress}}
	{{> FooterAntistress}}

</template>


<template name="AntistressBenefits">
	<div class="block block-bordered-lg how-works">
	  <div class="container text-center">
		<div class="col-xs-12 text-center m-b-lg">
			<h1 class="block-title c-green m-b-0">{{_ "landing.antiestres.title2"}}</h1>
		</div>
		<div class="row">
		  <div class="col-sm-3 item" data-item="1">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.antiestres.benefit1"}}</h2>
			<img src="/img/relaxb1.png" class="item-icon">
			<p class="lead m-b-0-sm">{{_ "landing.antiestres.description1"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="2">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.antiestres.benefit2"}}</h2>
			<img src="/img/relaxb2.png" class="item-icon">
			<p class="lead m-b-0-sm">{{_ "landing.antiestres.description2"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="3">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.antiestres.benefit3"}}</h2>
			<img src="/img/relaxb3.png" class="item-icon">
			<p class="lead m-b-0-sm m-b-0-xs">{{_ "landing.antiestres.description3"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="4">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.antiestres.benefit4"}}</h2>
			<img src="/img/relaxb4.png" class="item-icon">
			<p class="lead m-b-0-sm m-b-0-xs">{{_ "landing.antiestres.description4"}}</p>
		  </div>
		</div>
	  </div>
	</div>
  </template>