<template name="Auth_page">
  <a href="{{pathFor 'home'}}" class="back-home">
    <span class="icon icon-arrow-long-left"></span>
    {{_ "general.backHome"}}
  </a>
  <div class="login-cont">
    <div class="logo-cont">
      <img src="/img/logo.png" alt="" class="img-responsive">
    </div>
    {{> atForm}}
  </div>
</template>

<template name="override-atPwdFormBtn">
  <button type="submit" class="btn btn-success btn-login m-b m-t">
    {{buttonText}}
  </button>
</template>

<template name="override-atTextInput">
  <div class="input {{#if isValidating}}validating{{/if}} {{#if hasError}}error{{/if}} {{#if hasSuccess}}has-success{{/if}} {{#if feedback}}has-feedback{{/if}}">
    <input type="{{type}}" id="at-field-{{_id}}" name="at-field-{{_id}}" placeholder="{{placeholder}}" autocapitalize="none" autocorrect="off">
    {{#if hasIcon}}
        <span class="{{iconClass}}"></span>
    {{/if}}
    {{#if hasError}}
      <span>{{errorText}}</span>
    {{/if}}
  </div>
</template>

<template name="override-atTitle">
  <h1 class="title-auth title-style c-white">{{title}}</h1>
</template>

<template name="override-atError">
  <div class="list-errors m-b c-cream">
    {{log error}}
    {{#each showErrors error}}
      <div class="list-item">
        {{{this}}}
      </div>
    {{/each}}
  </div>
</template>

<template name="override-atPwdForm">
  <div class="at-pwd-form">
    <form role="form" id="at-pwd-form" class="{{disabled}}" novalidate action="#" method="POST">
      {{#each fields}}
        {{> atInput}}
      {{/each}}
      {{#if showReCaptcha}}
        {{> atReCaptcha}}
      {{/if}}
      {{> atPwdFormBtn}}
      {{#if showForgotPasswordLink}}
        {{> atPwdLink}}
      {{/if}}
    </form>
  </div>
</template>

<template name="termsForm">
  <div class="terms-input">
    <input type="checkbox" checked id="termsInput">
    <label for="">Acepto los <a href="">Términos y Condiciones</a> del servicio</label>
  </div>
</template>