 <template name="HistoricalOrderClient">
	<tr class="">
      <td>
        {{#if $eq status 'completed'}}
          <span class="c-turquoise">{{prettyStatus status}}</span>
        {{else}}
          <span class="c-error">{{prettyStatus status}}</span>
        {{/if}}
      </td>
      <td>
        {{#if $eq status 'completed'}}
          {{#if unansweredSurvey survey}}
            <button class="answer-survey btn btn-sm btn-pill btn-danger-outline">{{_ "admin.general.answer"}}</button>
          {{/if}}
        {{/if}}
      </td>
      <td>{{dateHour date}}</td>
      <td>
        {{#if this.therapist}}
          {{therapistName this.therapist}}
        {{else}}
          <div class="c-error">{{_ "admin.orders.noTherapist"}}</div>
        {{/if}}
      </td>
      <td>{{prettyProduct product}}</td>
      <td>{{prettyType type}}</td>
      <td>{{prettyTherapistType therapistsType}}</td>
      <td>${{total}}</td>
  </tr>
</template>
