<template name="adminAgentsRequest">
    {{#if isInRole 'admin'}}
        <div class="dashhead">
            <div class="dashhead-titles">
                <h2 class="dashhead-title title-style c-green">{{_
                        "admin.agentRequests.title"}}</h2>
            </div>
            <div class="btn-toolbar dashhead-toolbar">
                <button type="button" class="btn btn-sm btn-pill btn-info" data-toggle="modal"
                        data-target="#new-modal">
                    {{_ "admin.general.add"}}
                </button>
            </div>
        </div>

        {{#if Template.subscriptionsReady}}
            {{>adminAgentsList}}
        {{else}}
            {{> Loading}}
        {{/if}}
    {{else}}
        {{> Forbidden}}
    {{/if}}
</template>
