<template name="HeroTherapist">
        {{reloadSelect}}
        <div class="hero-bg parallax-section" data-parallax-image="/img/masaje3.webp">
          <div class="hero-cont">
            <div class="hero-text">
              <h1 class="title">{{_ "landing.therapistInfo.title"}}</h1>
              <p class="lead">{{_ "landing.therapistInfo.lead"}}</p>

              <div class="text-center m-t-md">
                    <a href="{{pathFor 'therapist-form'}}" class="btn btn-lg btn-success btn-book-now scroll-top">{{_ "general.apply"}}</a>
              </div>

            </div>
          </div>
        </div>
      
      </template>