<template name="IncomeTherapist">
  <div class="block">
    <div class="container text-center">
      <div class="row m-b-md m-b-lg-xs">
        <div class="col-xs-12 text-center m-b-lg">
          <h1 class="block-title c-green m-b-0">{{_ "landing.therapistInfo.titleincome"}}</h1>
        </div>

        <div class="block how-works" id="Ingresos">
          <div class="row">
            
            <div class="col-sm-6 item" data-item="1">
              <hr class="visible-xs-block">
              <div class="clearfix"></div>
              <h3><b>{{_ "landing.therapistInfo.incomeline"}}</b></h3>
                <ul class="iconlist">
                  <li class="lead" data-item="1">
                    <span class="icon icon-check"></span>
                      {{_ "landing.therapistInfo.ingresos1"}}
                  </li>
                  <li class="lead" data-item="2">
                    <span class="icon icon-check"></span>
                    {{_ "landing.therapistInfo.ingresos2"}}
                  </li>
                  <li class="lead" data-item="3">
                    <span class="icon icon-check"></span>
                    {{_ "landing.therapistInfo.ingresos3"}}
                  </li>
                </ul>
            </div>

            <div class="col-sm-6 item" data-item="2">
              <img src="/img/piggybankblue.png" height="300" width="300">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

