<template name="SafetyTherapist">
  <div class="block bg-light-gray">

    <div class="block how-works" id="Ingresos">
      <div class="row">
            
        <div class="col-sm-6 item" data-item="1">
          <img src="/img/shieldblue.png" height="250" width="250">
        </div>

        <div class="col-sm-6 item" data-item="1">
          <hr class="visible-xs-block">
          <div class="clearfix"></div>
            <h3><b>{{_ "landing.therapistInfo.title3"}}</b></h3>
            <ul class="iconlist">
              <li class="lead" data-item="2">
                <span class="icon icon-check"></span>
                  {{_ "landing.therapistInfo.seguro1"}}
              </li>
              <li class="lead" data-item="2">
                <span class="icon icon-check"></span>
                {{_ "landing.therapistInfo.seguro2"}}
              </li>
              <li class="lead" data-item="3">
                  <span class="icon icon-check"></span>
                  {{_ "landing.therapistInfo.seguro3"}}
              </li>
              <li class="lead" data-item="4">
                  <span class="icon icon-check"></span>
                  {{_ "landing.therapistInfo.seguro4"}}
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
