<template name="SafetyTherapist">
    <div class="block bg-light-gray">
      <div class="container text-center">
        <div class="row m-b-md m-b-lg-xs">
          <div class="col-xs-12 text-center m-b-lg bg-light-gray">
            <h1 class="block-title c-green m-b-0">{{_ "landing.therapistInfo.title3"}}</h1>
          </div>
  
          <div class="block how-works bg-light-gray" id="Ingresos">
            <div class="row bg-light-gray">
              
                <div class="col-sm-6 item bg-light-gray" data-item="1">
                    <img src="/img/shieldblue.png" height="300" width="300">
                </div>

              <div class="col-sm-6 item bg-light-gray" data-item="2">
                <hr class="visible-xs-block">
                <div class="clearfix"></div>
                  <ul class="iconlist">
                    <li class="lead" data-item="1">
                      <span class="icon icon-check"></span>
                        {{_ "landing.therapistInfo.seguro1"}}
                    </li>
                    <li class="lead" data-item="2">
                      <span class="icon icon-check"></span>
                      {{_ "landing.therapistInfo.seguro2"}}
                    </li>
                    <li class="lead" data-item="3">
                      <span class="icon icon-check"></span>
                      {{_ "landing.therapistInfo.seguro3"}}
                    </li>
                    <li class="lead" data-item="3">
                        <span class="icon icon-check"></span>
                        {{_ "landing.therapistInfo.seguro4"}}
                      </li>
                  </ul>
              </div>
  


            </div>
          </div>
        </div>
      </div>
    </div>
  </template>