
<template name="PromoRewardAgent">
  {{#if isInRole 'agent'}}
      <div class="dashhead">
          <div class="dashhead-titles">
              <h2 class="dashhead-title title-style c-green">{{_ "agent.promoCode.title"}}</h2>
          </div>
      </div>
      {{#if Template.subscriptionsReady}}
        <div class="text-center agent-promo-code">
          <h3 class="c-green">{{_ "agent.promoCode.text2"}}</h3>
            <h1 class="big c-yellow">test{{agentP.points}}</h1>
            <h1 class="c-green">{{_ "admin.agents.points"}}</h1>
          <p class="m-t-lg">{{_ "agent.promoCode.text6"}}</p>
        </div>
      {{else}}
          {{> Loading}}
      {{/if}}
  {{else}}
      {{> Forbidden}}
  {{/if}}

</template>
