<template name="HomePrenatal">

	{{> HeroPrenatal}}
	{{> PrenatalBenefits}}
	{{> TestimoniesPrenatal}}
	{{> Features}}
	{{> PricesPrenatal}}
	{{> FooterPrenatal}}

</template>


<template name="PrenatalBenefits">
	<div class="block block-bordered-lg how-works">
	  <div class="container text-center">
		<div class="col-xs-12 text-center m-b-lg">
			<h1 class="block-title c-green m-b-0">{{_ "landing.prenatal.title2"}}</h1>
		</div>
		<div class="row">
		  <div class="col-sm-3 item" data-item="1">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.prenatal.benefit1"}}</h2>
			<img src="/img/prenatalb1.png" class="item-icon">
			<p class="lead m-b-0-sm">{{_ "landing.prenatal.description1"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="2">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.prenatal.benefit2"}}</h2>
			<img src="/img/prenatalb2.png" class="item-icon">
			<p class="lead m-b-0-sm">{{_ "landing.prenatal.description2"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="3">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.prenatal.benefit3"}}</h2>
			<img src="/img/prenatalb3.png" class="item-icon">
			<p class="lead m-b-0-sm m-b-0-xs">{{_ "landing.prenatal.description3"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="4">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.prenatal.benefit4"}}</h2>
			<img src="/img/prenatalb4.png" class="item-icon">
			<p class="lead m-b-0-sm m-b-0-xs">{{_ "landing.prenatal.description4"}}</p>
		  </div>
		</div>
	  </div>
	</div>
  </template>