// -----------------------------------------------------------------------------
// Admin header
// -----------------------------------------------------------------------------

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	background-color: $green;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: lighten($green, 15%);
	// background-color: $cream;
}

.nav {
	margin-bottom: 0;
	a {
		color: $green;
		cursor: pointer;
		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.sidebar-nav {
	select {
		width: 100%;
	}
	a {
		i {
			font-size: 45px;
			display: block;
		}
	}
}

@include bp(tablet) {
	.sidebar-nav {
		margin-right: 0;
	}
}

.dashhead {
	@include bp(tablet) {
		margin-top: 20px;
	}
}

//////////////////////
// Admin structure = Header + body
//////////////////////
.profile {
	@include bp(tablet) {
		.sidebar {
			width: 160px;
		}
		.content {
			width: calc(100% - 160px);
		}
	}
}

.dashhead-title {
	@include bp(phone) {
		margin-top: 15px;
	}
}

.dashhead-toolbar {
	button {
		margin-bottom: 15px;
	}
  @include bp(tablet) {
    margin-top: 0;
    float: none;
    button {
      margin-bottom: 0;
    }
  }
}

.table-responsive {
	@include bp(phone) {
		border: none;
	}
}

.danger-tr {
	background: rgba(244, 67, 54, 0.1);
}

//////////////////////
// Assign therapists
//////////////////////
.assign-therapists {
	&.with-icon {
		li {
			position: relative;

			.info-icon {
				position: absolute;
				left: -14px;
				top: 10px;
				color: $cream;
				@include bp(tablet) {
					left: -20px;
				}
				&:hover {
					color: darken($cream, 15%);
				}
			}
		}
	}
	li {
		cursor: pointer;
		padding: 0;
		.info {
			padding: 10px 15px;
			&:hover {
				background-color: rgba(121, 185, 191, 0.15);
			}
		}
	}

	.btn-pill {
		@include bp(tablet) {
			margin-top: 20px;
		}
	}

	.list-group-item.active,
	.list-group-item.active:focus,
	.list-group-item.active:hover {
		background-color: rgba(121, 185, 191, 0.49);
		border-color: $turquoise
	}
}

.client-promo-code {
	h1 {
		&.big {
			font-size: 3.5em;
			font-weight: 700;
		}
	}
}
