// HERO

.billboard {
	margin-top: 0;
	padding: 15px 0;
	display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    overflow: hidden;

	background-image: url(img/blog.jpg);

	&:before,
	&:after {
		display: block;
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    width: inherit;
	    content: '';
	    z-index: 0;
	}

	&:before {
		top: 0;
	    background-color: #000;
	    opacity: .2;
	}

	&:after {
		height: 60%;
    	opacity: .7;
    	background-image: linear-gradient(to top, #ffab72 -75%, rgba(255, 255, 255, 0) 100%);
	}

	> * {
		z-index: 1;
	}
}

.max-container {
	width: 100%;
    max-width: 1594px;
    padding-right: 30px;
    padding-left: 30px;
}

.billboard-headline {
	font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-size: 31px;
    line-height: 36px;
    margin: initial;
}

.billboard-description {
	font-size: 18px;
    line-height: 30px;
    display: none;
    max-width: 595px;
    margin-top: 0;
}

@media screen and (min-width: 567px) {
	.billboard {
		height: 33vh;
	    min-height: 192px;
	    max-height: 277px;

	    text-align: left;
	}

	.max-container {
		margin-right: auto;
	    margin-left: auto;
	    padding: 0 30px;
	}

	.billboard-headline {
		font-size: 37px;
    	line-height: 41px;
	}

	.billboard-description {
		display: block;
	}
}
$font-size: 18px;
$line-height: 1.4;
$lines-to-show: 3;

// Post cards
.white-card .post-card {
	background-color: $white;
}
.post-card {
	border: 1px solid #eaeaea;
	a {
		display: block;
	}
	.category,
	.date {
		color: #9f9f9f;
		font-size: 15px;
	}
	.title {
		color: $aqua;
		display: block; /* Fallback for non-webkit */
		display: -webkit-box;
		max-width: 100%;
		height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
		margin: 0 auto;
		font-size: $font-size;
		line-height: $line-height;
		-webkit-line-clamp: $lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		&:hover {
    		color: $pink;
    		text-decoration: none;
		}
	}
}

// Single post
.article-container {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	.category {
		border-bottom: 2px solid $aqua;
		font-size: 18px;
		display: inline-block;
	}
	.title {
		font-size: 38px;
		font-style: italic;
	}
	.date {
		font-size: 15px;
		color: #9f9f9f;
	}
	.article-body {
		line-height: 30px;
		font-size: 18px;
		font-weight: 200;
		color: $dark-gray;
	}
}
