// -----------------------------------------------------------------------------
// GENERAL
// -----------------------------------------------------------------------------
.landing-page {
	margin-top: 75px;
	@include bp(phone) {
		margin-top: 60px;
	}
	h1, h2 {
		font-weight: 700;
		@include bp(tablet) {
			line-height: 1.2em;
		}
	}
	h1 {
		font-size: 34px;
		@include bp(phone) {
			font-size: 25px;
		}
	}
	h2 {
		@include bp(phone) {
			font-size: 25px;
		}
	}
	h3 {
		font-family: $body-font;
		font-weight: 400;
		@include bp(phone) {
			font-size: 20px;
		}
	}
	section {
		overflow: hidden;
	}
}

.section-pad {
	padding-top: 70px;
	padding-bottom: 70px;
	@include bp(phone) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&.small {
		padding-top: 60px;
		padding-bottom: 60px;
		@include bp(phone) {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
}

.container-small {
	width: 805px;
	margin: 0 auto;
	max-width: calc(100% - 80px);
	@include bp(phone) {
		width: calc(100% - 40px);
		max-width: calc(100% - 40px);
	}
}

.w-after {
	position: relative;
	margin-bottom: 45px;
	&:after {
		content: "\E \EA3B \EA3B \EA3B";
	    font-family: "toolkit-entypo";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    transform: translateX(-50%);
	    letter-spacing: 24px;
	    font-size: 18px;
	    line-height: 40px;
	    color: $orange;
	}
}

// -----------------------------------------------------------------------------
// HERO
// -----------------------------------------------------------------------------

.hero-cont {
	height: 500px;
	position: relative;
	background-color: #93c4c6;
	@include bp(phone) {
		height: 400px;
	}
	.hero-text {
		position: absolute;
		top: 50%;
		left: 50%;
		width: calc(100% - 80px);
		transform: translateY(-50%) translateX(-50%);
		@include bp(phone) {
			text-align: center;
		    top: 50%;
		    transform: translateX(-50%)translateY(-50%);
		}
		@include bp(small) {
			width: calc(100% - 40px);
		}
		.subtitle {
			margin-top: 10px;
		}
	}
}

// -----------------------------------------------------------------------------
// ABOUT
// -----------------------------------------------------------------------------
.banner {
	height: 150px;
	@include bp(phone) {
		height: 75px;
	}
}

// -----------------------------------------------------------------------------
// STEPS
// -----------------------------------------------------------------------------
.steps {
	strong {
		font-size: 18px;
	}
	.icon {
		max-height: 200px;
	}
	.parallax {
		.title {
			padding-top: 70px;
			padding-bottom: 70px;
			text-align: center;
		}
		@include bp(tablet) {
			height: 320px;
			z-index: -1 !important;
			.title {
				padding-top: 80px;
			}
		}
	}
	@include bp(tablet) {
		.steps-cont {
			margin-top: -100px;
			.step-item {
				height: 350px;
			}
		}
	}
	.step-item {
		background-color: $aqua;
		padding-top: 10px;
		padding-bottom: 10px;
		&:nth-child(even) {
			background: #67cecd;
		}
		img {
			max-width: 100%;
		}
	}

}

// -----------------------------------------------------------------------------
// AUDIENCE SECTION
// -----------------------------------------------------------------------------
.audience-title {
	background: #F4F5F6;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		@include arrow("down", #F4F5F6, 30);
	}
}

.audience {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	&.bg-pink-custom {
		background-color: #f07d97;
		&:after {
			@include arrow("down", #f07d97, 30);
		}
	}
	&.bg-aqua-custom {
		background-color: #b7e7e5;
		&:after {
			@include arrow("down", #b7e7e5, 30);
		}
	}
	&.bg-white:after {
		@include arrow("down", $white, 30);
	}
	h1 span{
		position: relative;
		&:after {
			content: "";
		    width: 100%;
		    height: 5px;
		    position: absolute;
		    bottom: -10px;
		    right: -1px;
		}
		&.c-aqua:after {
			background: $aqua;
		}
		&.c-pink:after {
			background: $pink;
		}
		&.c-yellow:after {
			background: $yellow;
		}
		&.c-orange:after {
			background: $orange;
		}
		&.c-green:after {
			background: $green;
		}
	}
	// Pink button
	.btn-info-outline {
		color: $pink;
	}

	.btn-info-outline.active, .btn-info-outline.focus, .btn-info-outline:active, .btn-info-outline:focus, .btn-info-outline:hover, .open>.dropdown-toggle.btn-info-outline {
		background-color: $pink;
		color: $white;
	}

	.btn-info-outline, .btn-info-outline.disabled, .btn-info-outline.disabled.active, .btn-info-outline.disabled.focus, .btn-info-outline.disabled:active, .btn-info-outline.disabled:focus, .btn-info-outline.disabled:hover, .btn-info-outline[disabled], .btn-info-outline[disabled].active, .btn-info-outline[disabled].focus, .btn-info-outline[disabled]:active, .btn-info-outline[disabled]:focus, .btn-info-outline[disabled]:hover, fieldset[disabled] .btn-info-outline, fieldset[disabled] .btn-info-outline.active, fieldset[disabled] .btn-info-outline.focus, fieldset[disabled] .btn-info-outline:active, fieldset[disabled] .btn-info-outline:focus, fieldset[disabled] .btn-info-outline:hover {
		border-color: $pink;
	}

	// Orange button
	.btn-danger-outline {
		color: $orange;
	}

	.btn-danger-outline.active, .btn-danger-outline.focus, .btn-danger-outline:active, .btn-danger-outline:focus, .btn-danger-outline:hover, .open>.dropdown-toggle.btn-danger-outline {
		background-color: $orange;
		color: $white;
	}

	.btn-danger-outline, .btn-danger-outline.disabled, .btn-danger-outline.disabled.active, .btn-danger-outline.disabled.focus, .btn-danger-outline.disabled:active, .btn-danger-outline.disabled:focus, .btn-danger-outline.disabled:hover, .btn-danger-outline[disabled], .btn-danger-outline[disabled].active, .btn-danger-outline[disabled].focus, .btn-danger-outline[disabled]:active, .btn-danger-outline[disabled]:focus, .btn-danger-outline[disabled]:hover, fieldset[disabled] .btn-danger-outline, fieldset[disabled] .btn-danger-outline.active, fieldset[disabled] .btn-danger-outline.focus, fieldset[disabled] .btn-danger-outline:active, fieldset[disabled] .btn-danger-outline:focus, fieldset[disabled] .btn-danger-outline:hover {
		border-color: $orange;
	}

	// Aqua button
	.btn-primary-outline {
		color: $aqua;
	}

	.btn-primary-outline.active, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline:focus, .btn-primary-outline:hover, .open>.dropdown-toggle.btn-primary-outline {
		background-color: $aqua;
		color: $white;
	}

	.btn-primary-outline, .btn-primary-outline.disabled, .btn-primary-outline.disabled.active, .btn-primary-outline.disabled.focus, .btn-primary-outline.disabled:active, .btn-primary-outline.disabled:focus, .btn-primary-outline.disabled:hover, .btn-primary-outline[disabled], .btn-primary-outline[disabled].active, .btn-primary-outline[disabled].focus, .btn-primary-outline[disabled]:active, .btn-primary-outline[disabled]:focus, .btn-primary-outline[disabled]:hover, fieldset[disabled] .btn-primary-outline, fieldset[disabled] .btn-primary-outline.active, fieldset[disabled] .btn-primary-outline.focus, fieldset[disabled] .btn-primary-outline:active, fieldset[disabled] .btn-primary-outline:focus, fieldset[disabled] .btn-primary-outline:hover {
		border-color: $aqua;
	}
}
.image-text {
	.image {
		img {
			max-width: 100%;
			max-height: 150px;
		}
	}
	@include bp(tablet) {
		&.small {
			.image,
			.text {
				height: 150px;
			}
			.image {
				img {
					max-height: 150px;
				}
			}
		}
		.image,
		.text {
			height: 300px;
		}
		.image {
			img {
				max-height: 100%;
				max-width: 100%;

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%)translateY(-50%);
			}
		}
		.text {
			position: relative;
			.cont {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

// -----------------------------------------------------------------------------
// CONTACT
// -----------------------------------------------------------------------------
.contact {
	input, textarea {
		width: 100%;
    	margin-bottom: 10px;
	}
	.social-icon {
		font-size: 32px;
		.icon-facebook {
			color: #3b5998;
		}
	}
}
