.carousel-light {
  .carousel-control {
    text-shadow: none;
    color: $blue;
    background-image: none;
  }

  .carousel-indicators {
    bottom: 0;
    
    li {
      background-color: $gray;
      border: 0;  
    }

    .active {
      background-color: $blue;
      border: 1px solid $blue;
    }
  }
}
