$pink: #ef3971;
$aqua: #43c2c1;
$dark-gray: #555;
$orange: #fb7221;
$green: #98ce00;
$yellow: #fccd14;
$white: #fff;
$light-yellow: #f2f2bc;
$light-green: #9edccf;
$light-aqua: #b7e7e5;
$light-pink: #f07d97;

.box {
  background: $light-aqua;
  color: $aqua;
  text-align: left;
  margin-top: 15px;
  padding: 15px;
  h2 {
    margin: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.float-cont {
  overflow: hidden;
}

.order-details {
  border: 5px solid $light-pink;
  border-radius: 3px;
  border-collapse: collapse;
  thead {
    background-color: $light-pink;
    th {
      color: $white;
      padding-bottom: 5px;
    }
  }
  tbody {
    tr {
      &:not(:last-child) {
        border-bottom: 5px solid $light-pink;
      }
      td {
        &:nth-child(3) {
          padding-left: 10px;
        }
      }
      img {
        width: 110px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      p {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

.payment-details {
  td {
    padding-bottom: 15px;
    vertical-align: top;
  }
}