<template name="HomeSport">

	{{> HeroSport}}
	{{> SportBenefits}}
	{{> TestimoniesSport}}
	{{> Features}}
	{{> PricesSport}}
	{{> FooterSport}}

</template>


<template name="SportBenefits">
	<div class="block block-bordered-lg how-works">
	  <div class="container text-center">
		<div class="col-xs-12 text-center m-b-lg">
			<h1 class="block-title c-green m-b-0">{{_ "landing.deportivo.title2"}}</h1>
		</div>
		<div class="row">
		  <div class="col-sm-3 item" data-item="1">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.deportivo.benefit1"}}</h2>
			<img src="/img/sportb1.png" class="item-icon">
			<p class="lead m-b-0-sm">{{_ "landing.deportivo.description1"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="2">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.deportivo.benefit2"}}</h2>
			<img src="/img/sportb2.png" class="item-icon">
			<p class="lead m-b-0-sm">{{_ "landing.deportivo.description2"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="3">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.deportivo.benefit3"}}</h2>
			<img src="/img/sportb3.png" class="item-icon">
			<p class="lead m-b-0-sm m-b-0-xs">{{_ "landing.deportivo.description3"}}</p>
		  </div>
		  <div class="col-sm-3 item" data-item="4">
			<h2 class="block-subtitle c-turquoise">{{_ "landing.deportivo.benefit4"}}</h2>
			<img src="/img/sportb4.png" class="item-icon">
			<p class="lead m-b-0-sm m-b-0-xs">{{_ "landing.deportivo.description4"}}</p>
		  </div>
		</div>
	  </div>
	</div>
  </template>