// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    color: $light-black;
}

a {
	color: $turquoise;
	&:hover {
		color: $yellow;
	}
}

.row-centered
{
    @include bp(tablet)
    {
        text-align: center;
    }
}
.col-centered
{
    @include bp(tablet)
    {
        display: inline-block;
        float: none;

        margin-right: -4px;

        text-align: center;
    }
    &.forced-smartphone
    {
        display: inline-block;
        float: none;

        margin-right: -4px;

        text-align: center;
    }
}
