/////////////////
///  Colors
////////////////
.c-turquoise {
	color: $turquoise !important;
}

.c-green {
	color: $green !important;
}

.c-yellow {
	color: $yellow !important;
}

.c-cream {
	color: $cream !important;
}

.c-gray {
	color: $gray !important;
}

.c-black {
	color: $black !important;
}

.c-light-black {
	color: $light-black !important;
}

.c-white {
	color: $white !important;
}

.bg-turquoise {
	background-color: $turquoise !important;
}

.bg-green {
	background-color: $green !important;
}

.bg-yellow {
	background-color: $yellow !important;
}

.bg-cream {
	background-color: $cream !important;
}

.bg-gray {
	background-color: $gray !important;
}

.bg-light-gray {
	background-color: $light-gray !important;
}

.bg-black {
	background-color: $black !important;
}

.bg-white {
	background-color: $white !important;
}

.btn-success.btn-book-now,
.btn-success.btn-login {
	font-size: 24px;
	color: $white;
	background-color: $green;
	font-weight: 700;
	&:hover {
		color: $green;
		background-color: $white;
	}

	&.btn-xs {
		font-size: 14px;
	}

	&.btn-sm {
		font-size: 18px;
	}
}

/////////////////
///  Helpers
////////////////

.m-b-0-xs {
	@include bp(phone) {
		margin-bottom: 0 !important;
	}
}

.m-b-0-sm {
	@include bp(tablet) {
		margin-bottom: 0 !important;
	}
}

.p-b-0-xs {
	@include bp(phone) {
		padding-bottom: 0 !important;
	}
}

.m-b-lg-xs {
	@include bp(phone) {
		margin-bottom: 40px !important;
	}
}

.spacer-small {
	height: 100px;
}

.f-right-md {
	float: right;
	@include bp(phone) {
		float: none;
	}
}

.nopadding {
	padding: 0 !important;
}

.nomargin {
	margin: 0 !important;
}

.cursor-pointer {
	cursor: pointer;
}

.uppercase {
	text-transform: uppercase;
}
