<template name="registerTherapist">
    <div class="margin-section">
        <div class="container">
            <h1 class="block-title text-center c-yellow">{{_ "landing.therapistForm.title"}}</h1>
            <h3 class="text-center">{{_ "landing.therapistForm.lead"}} <a
                    href="">info@kassna.com</a></h3>
            <hr class="m-b-md m-t-md">
            <div class="request-form m-b-lg">
                {{> TherapistsForm id="insertTherapistFormPublic" type="insert"}}
            </div>
        </div>
    </div>
    {{> Footer}}
</template>
