<template name="HeaderBook">
  <nav class="navbar navbar-inverse navbar-fixed-top small-nav book-nav">
		  <div class="navbar-header">
		      <a class="navbar-brand" href="{{pathFor 'home'}}">
		      	<img src="/img/logo.png" alt="">
		      </a>
          <p class="title c-sand">{{_ "general.book"}}</p>

		    <ul class="nav navbar-nav text-center">
          <span class="total-text c-green">{{_ "general.total"}}</span> <p class="total-number">${{total}}</p>
        </ul>

		  </div>
		  <div id="navbar" class="collapse navbar-collapse">

		  </div>
		  <!--/.nav-collapse -->
      <div class="banner bg-sand c-white text-center">
        {{#if currentUser}}
          {{_ "book.currentUserLead"}}
          <a href="{{pathFor 'admin'}}">
            {{_ "book.currentUserLink"}}
          </a>
        {{else}}
          {{_ "book.noUserLead"}}
          <a href="{{pathFor 'signin'}}">
            {{_ "book.noUserLink"}}
          </a>
        {{/if}}
      </div>
	</nav>
</template>
