<template name="MassageBook">
  <div class="book-form">
    <h1 class="c-white text-center">{{_ "book.step2Lead"}}</h1>
    <div class="simform" id="book-form-2">
      {{> ButtonSelectBook attribute="type" elements=types placeholder="book.type"}}
      {{> ButtonSelectBook attribute="product" elements=products placeholder="book.product"}}
      {{> ButtonSelectBook attribute="therapistsType" elements=therapistsType placeholder="book.therapistsType"}}
      {{> FooterButtonsBook stage=2 back=true finish=false}}
    </div>
  </div>
</template>
