<template name="PaymentBook">
  <div class="book-form">
    <div class="simform">
      <span class="input input--madoka">
				<input class="input__field input__field--madoka custom-input" type="text" id="locationId">
				<label class="input__label input__label--madoka" for="locationId">
					<svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
						<path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
					</svg>
					<span class="input__label-content input__label-content--madoka">{{_ "book.locationId"}}</span>
				</label>
			</span>
    </div>
  </div>
</template>
