<template name="PaymentBook">
  <div class="book-form">
    <h1 class="c-white text-center">{{_ "book.step4Lead"}}</h1>
    <div class="simform">
      {{> InputTextBook type="text" attribute="promoCode" placeholder="book.promoCode"}}
      <div class="footer-buttons center">
        <button class="btn-success small m-t m-t-0-xs" id="verifyPromo">{{_ "book.verify"}}</button>
      </div>
      <p class="terms-text">
        <!-- <input type="checkbox" checked id="termsInput">
        <label for="">Acepto los <a href="">Términos y Condiciones</a> del servicio</label> -->
        {{> termsForm}}
      </p>
      {{> PaypalBook}}
    </div>
  </div>
</template>

<template name="PaypalBook">
  <div class="text-center m-t-lg m-b-lg m-t-md-xs m-b-lg-xs">
    <div id="paypal-button-container"></div>
  </div>

  <div class="footer-buttons start">
    <button class="btn-default m-t-0" id="back4">{{_ "book.back"}}</button>
  </div>
</template>
