 <template name="Admin">
	<tr>
      <td>{{profile.firstname}} {{profile.lastname}}</td>
      <td><i class="status-icon {{#if userInRole _id 'admin'}}active{{else}}not-active{{/if}}"></i></td>
      <td>
          {{#if userInRole _id 'superadmin'}}
          Adminstrador
          {{else}}
            {{#if userInRole _id 'admin'}}
                <button class="toggle-status btn btn-sm btn-pill btn-danger-outline">{{_ "admin.general.deactivate"}}</button>
            {{else}}
                <button class="toggle-status btn btn-sm btn-pill btn-success-outline">{{_ "admin.general.activate"}}</button>
            {{/if}}
          {{/if}}
      </td>
      <td>
      	{{#quickRemoveButton collection="Locations" _id=this._id class="hidden delete-btn"}}
				Delete
      	{{/quickRemoveButton}}
          <button class="btn btn-round btn-danger-outline confirm-remove">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
      </td>
  </tr>
</template>
