<template name="HeaderLanding">
	<nav class="navbar navbar-inverse navbar-fixed-top {{#if navbarTrans}}toChange{{else}}small-nav{{/if}}">
		  <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed"
									data-target=".stage" data-toggle="stage" data-distance="-180">
		          {{_ "general.menu"}}
		      </button>
		      <a class="navbar-brand scroll-top" href="{{pathFor 'home'}}">
		      	<img src="/img/logosup.png" alt="">
			  </a>
			  
			  <a class="navbar-brand scroll-top" href="https://api.whatsapp.com/send?phone=528110601776"><img src="/img/WhatsAppVerde.png" alt=""></a>
		  </div>
		  
		  <div id="navbar" class="collapse navbar-collapse">
		      <ul class="nav navbar-nav">
		          {{> HeaderLandingLinks}}
		      </ul>
		  </div>
		  <!--/.nav-collapse -->
	</nav>
</template>
