<template name="Header">
	<nav class="sidebar-nav">
        <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="{{pathFor 'home'}}">
                <!-- <span class="icon icon-leaf sidebar-brand-icon"></span> -->
                <img src="/img/logo.png" alt="">
            </a>
        </div>
        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            {{#if isInRole 'admin'}}
                <select class="custom-select m-b" id="city-selection">
                    <option value="">&lt;{{_ "admin.general.selectCity"}}&gt;</option>
                    {{#each locations}}
                        {{#if isCurrentCity _id}}
                            <option value="{{_id}}" selected>{{name}}</option>
                        {{else}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            {{/if}}
            <ul class="nav nav-pills nav-stacked">
                {{#if isInRole 'admin'}}
										<li class="nav-header">{{_ "admin.header.general"}}</li>
										<li class="{{isActiveRoute 'promoCodes'}}">
												<a class="scroll-top" href="{{pathFor 'promoCodes'}}">{{_ "admin.promoCodes.title"}}</a>
										</li>
										<li class="{{isActiveRoute 'locations'}}">
												<a class="scroll-top" href="{{pathFor 'locations'}}">{{_ "admin.locations.title"}}</a>
										</li>
										<li class="nav-header">{{_ "admin.header.settings"}}</li>
                    <li>
                        <a id="logout" class="scroll-top">{{_ "admin.header.logOut"}}</a>
                    </li>
                {{/if}}
            </ul>
            <hr class="visible-xs m-t">
        </div>
    </nav>
</template>
