<template name="SidebarAdmin">
	<nav class="sidebar-nav">
        <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                <span class="sr-only">Toggle nav</span>
            </button>
        </div>
        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            {{#if isInRole 'admin'}}
                <select class="custom-select m-b" id="city-selection">
                    <option value="">&lt;{{_ "admin.header.selectCity"}}&gt;</option>
                    {{#each locations}}
                        {{#if isCurrentCity _id}}
                            <option value="{{_id}}" selected>{{name}}</option>
                        {{else}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            {{/if}}
            <ul class="nav nav-pills nav-stacked">
                {{#if isInRole 'admin'}}
										<li class="nav-header text-center">{{_ "admin.header.general"}}</li>
										<li class="{{isActiveRoute 'promoCodes'}}">
												<a class="scroll-top text-center" href="{{pathFor 'promoCodes'}}">
													<i class="fa fa-tags" aria-hidden="true"></i>
													{{_ "admin.promoCodes.title"}}
												</a>
										</li>
										<li class="{{isActiveRoute 'locations'}}">
												<a class="scroll-top text-center" href="{{pathFor 'locations'}}">
													<i class="fa fa-map-marker" aria-hidden="true"></i>
													{{_ "admin.locations.title"}}
												</a>
										</li>
                {{/if}}
            </ul>
            <hr class="visible-xs m-t">
        </div>
    </nav>
</template>
