input[type='text']:not(.numInput):not(.custom-input),
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
textarea,
textarea.form-control,
.uneditable-input
{
    color: $green;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    height: 48px;
    padding: 5px 10px;
    border: none;

    background-color: #f9f9f9;
    border: 1px solid $turquoise;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    &:disabled {
        color: $turquoise;
    }
    &.error {
        box-shadow: 0 0 15px $cream;
        border: 3px solid $cream;
    }

    &::-webkit-input-placeholder
    {
        /* Chrome/Opera/Safari */
        color: lighten($green, 15%);
    }
    &::-moz-placeholder
    {
        /* Firefox 19+ */
        color: lighten($green, 15%);
    }
    &:-ms-input-placeholder
    {
        /* IE 10+ */
        color: lighten($green, 15%);
    }
    &:-moz-placeholder
    {
        /* Firefox 18- */
        color: lighten($green, 15%);
    }
}

textarea {
    height: 150px;
}

.flatpickr-input {
  cursor: pointer;
}

.input-group-addon {
  background-color: $white;
  border: none;
  color: $green;
}

.bootstrap-select {
  .dropdown-toggle {
    background-color: $white !important;
    border: none;
    color: $green !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    &:focus {
      outline: none !important;
    }
  }
  .dropdown-menu {
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    border: none;
    li {
      a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: $green;
        padding: 7px 12px;
        outline: none !important;
      }
    }
  }
}

.custom-control input:checked ~ .custom-control-indicator
{
    border-color: $cream;
    background-color: $cream;
}

.universe-selectize.selectize-control.multi .selectize-input {
    height: auto;
}

.universe-selectize.selectize-control .selectize-dropdown {
    top: 93%;
}
