input[type='text']:not(.numInput),
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'],
textarea,
textarea.form-control,
.uneditable-input
{
    color: $turquoise;
    font-size: 16px;
    line-height: 24px;

    float: left;

    height: 48px;
    padding: 5px 10px;

    border: 1px solid $turquoise;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background: #eef2f5;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    &:disabled {
        color: $turquoise;
    }
    &.error {
        box-shadow: 0 0 15px $cream;
        border: 3px solid $cream;
    }
}

textarea {
    height: 150px;
}

::-webkit-input-placeholder
{
    /* Chrome/Opera/Safari */
    color: lighten($turquoise, 15%);
}
::-moz-placeholder
{
    /* Firefox 19+ */
    color: lighten($turquoise, 15%);
}
:-ms-input-placeholder
{
    /* IE 10+ */
    color: lighten($turquoise, 15%);
}
:-moz-placeholder
{
    /* Firefox 18- */
    color: lighten($turquoise, 15%);
}

.custom-control input:checked ~ .custom-control-indicator
{
    border-color: $cream;
    background-color: $cream;
}

.universe-selectize.selectize-control.multi .selectize-input {
    height: auto;
}

.universe-selectize.selectize-control .selectize-dropdown {
    top: 93%;
}
