// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Admin header
// -----------------------------------------------------------------------------

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	// background-color: $green;
}

.nav>li>a:focus, .nav>li>a:hover {
	// background-color: lighten($green, 35%);
	// background-color: $cream;
}

.nav {
	margin-bottom: 0;
	a {
		// color: $green;
		cursor: pointer;
		&:hover {
			// color: lighten($green, 15%);
			color: $white;
		}
	}
}

@include bp(tablet) {
	.sidebar-nav {
		margin-right: 0;
	}
}

.dashhead {
	@include bp(tablet) {
		margin-top: 30px;
	}
}

// -----------------------------------------------------------------------------
// Landing header
// -----------------------------------------------------------------------------

.navbar.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
	transition: all 0.4s;
	top: 40px;
  left: 40px;
  width: calc(100% - 80px);
	&.small-nav {
		background-color: $white;
		top: 0;
		left: 0;
		width: 100%;
		.navbar-brand {
			height: 60px;
		}
		li a {
			padding: 20px 10px;
		}
	}
	li {
		&:hover a {
			background-color: transparent;
			color: darken($cream, 15%);
		}
		a {
			color: $cream;
			font-weight: 300;
			text-transform: uppercase;
			margin-left: 10px;
			margin-right: 10px;
			padding: 30px 10px;
			letter-spacing: .15em;
			font-size: 13px;
		}
	}
	.navbar-brand {
		height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
		transition: all 0.4s ease;
		@include bp(phone) {
			height: 60px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		img {
			max-height: 100%;
		}
	}
	.navbar-toggle {
		margin-top: 14px;
		border-color: $cream;
		background: $cream;
	}
	.navbar-nav {
		@include bp(desk) {
			float: right;
		}
	}
}
