// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Admin header
// -----------------------------------------------------------------------------

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	// background-color: $pink;
}

.nav>li>a:focus, .nav>li>a:hover {
	// background-color: lighten($pink, 35%);
	// background-color: $aqua;
}

.nav {
	margin-bottom: 0;
	a {
		// color: $pink;
		cursor: pointer;
		&:hover {
			// color: lighten($pink, 15%);
			color: $white;
		}
	}
}

@include bp(tablet) {
	.sidebar-nav {
		margin-right: 0;
	}
}

.dashhead {
	@include bp(tablet) {
		margin-top: 30px;
	}
}

// -----------------------------------------------------------------------------
// Landing header
// -----------------------------------------------------------------------------
