.modal-action:active, .modal-action:focus, .modal-action:hover {
	&.btn-success {
		background-color: #159c6e;
	}
}

.modal {
	.modal-body {
		.form-group input {
			margin-bottom: 10px;
			height: inherit;
		}
		.autoform-add-item {
			background-color: $cream;
			border-color: $cream;
			&:before {
				content: "Agregar elemento";
			}
		}
		.autoform-remove-item {
			background-color: $cream;
			border-color: $cream;
			&:before {
				content: "Quitar";
			}
		}
		input {
			width: 100%;
		}
	}
}
