//
// Wrapper for all page contents, including shelf
//

.stage {
  background-color: $stage-bg;
}


//
// Shelf contents that is shown/hidden
//

.stage-shelf {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: $stage-shelf-width;
  padding-top: 30px;
  background-color: darken($stage-bg, 5%);
  overflow: auto;
  touch-action: pan-y;
}
.stage-shelf-right {
  left: auto;
  right: 0;
}
